section {
  padding:2em;
  margin: 0
    
} 


.news {
  .news-left {
    width: 22%;
    float:left;
    display:inline-block;
  }
  .news-right {
    float:left;
    width:75%;
    margin-left:3%;
    &.full-width {
      margin-left:0;
      width:100%;
    }
  }
}

.gallery {
  li {
    @include rowGrid(2,3%);
    }
  }



  