section {
	padding:3em 2em;
}


.store {
  .span4 {
    width:31.623931623931625%;
  }
}

.news, .hit_this {
	text-align:left;
}

.home {
	.hero {
		padding:8em 0em;
		h1 {
		font-size: 35px;
	}
	.button {
		border:solid 4px white;
	}

	}

}

#mapCanvas {
	height:600px;
}


.footer {
	background: #79191e; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e6e6e6), color-stop(40%,#e6e6e6), color-stop(40%,#77161b), color-stop(100%,#77161b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#e6e6e6 40%,#77161b 40%,#77161b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #e6e6e6 0%,#e6e6e6 40%,#77161b 40%,#77161b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #e6e6e6 0%,#e6e6e6 40%,#77161b 40%,#77161b 100%); /* IE10+ */
background: linear-gradient(135deg,  #e6e6e6 0%,#e6e6e6 40%,#77161b 40%,#77161b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#77161b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.footer {
	text-align: left;
	
.span4 {
	p {
		color:$primary;;
		font-size: 12px;
	}
}
		ul{
			float:right;
			margin:0;
			li {
				float:left;
        		text-align: center;
				&:last-child {
					 	a:after {
					 		content:none;
					 		padding-left:0;
					 	}
					}
				a {
					padding:1em 1em 1em 0;
					text-transform: uppercase;
					color:white;
					font-size: 12px;
					

					&:hover {
						color:$neutral;
					

					}
					&:after {
						content:"/";
						padding-left:1em;
					}

				}
			}
		}

}


.btn, a:visited.btn, .button, button { 
  
  margin-bottom:0em;
text-align: left;
}

.map {
	h1 {
		font-size: 6em;
	}
	.button {
		margin-right:1em;
		&:last-child {
			margin-right:0;
		}
	}
}


.gallery {
  li {
    height:400px;
    @include rowGrid(2,0);
    .meta {
      
      a {
        h1 {
          font-size: 2em;
        }
      }
    }
    }
  }


.galleries {
  .gallery {
    li{
      @include rowGrid(4,0);
 
      img{
        width:100% !important;
      }
    }
  }
}