@font-face {
	font-family: 'rrvt';
	src:url('/resources/fonts/rrvt.eot?t4mb8r');
	src:url('/resources/fonts/rrvt.eot?#iefixt4mb8r') format('embedded-opentype'),
		url('/resources/fonts/rrvt.woff?t4mb8r') format('woff'),
		url('/resources/fonts/rrvt.ttf?t4mb8r') format('truetype'),
		url('/resources/fonts/rrvt.svg?t4mb8r#rrvt') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'rrvt';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}