.mainnav {
	background: #79191e; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #79191e 0%, #79191e 40%, #ffffff 40%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#79191e), color-stop(40%,#79191e), color-stop(40%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #79191e 0%,#79191e 40%,#ffffff 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #79191e 0%,#79191e 40%,#ffffff 40%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #79191e 0%,#79191e 40%,#ffffff 40%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg,  #79191e 0%,#79191e 40%,#ffffff 40%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79191e', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding:1em 0;
position: relative;
z-index: 2;
.top-row {
	form {
		float:left;
	input {
		font-size: 10px;
		padding:0 1em;
		display:inline;

		font-family: $heading;
		text-transform: uppercase;
		border-radius:5px;
	}
}
}

.wrap {
	position: relative;
}
	.nav_items {
		float:right;
		ul{
			float:right;
			margin-bottom:1em;
			li {
				float:left;
				&:last-child {
					 	a:after {
					 		content:none;
					 		padding-left:0;
					 	}
					}
				a {
					padding:1em 1em 1em 0;
					text-transform: uppercase;
					color:$primary;
					font-size: 11px;
					

					&:hover {
						color:$secondary;
					

					}
					&:after {
						content:"/";
						padding-left:1em;
					}

				}
			}
		}
	}
}

.footer {
  background:#e6e6e6;
  text-align: center;
.span4 {
	p {
		color:$primary;;
		font-size: 12px;
	}
}
		ul{
			float:right;
			margin:0;
			li {
				float:left;
        text-align: center;
				&:last-child {
					 	a:after {
					 		content:none;
					 		padding-left:0;
					 	}
					}
				a {
					padding:1em 1em 1em 0;
					text-transform: uppercase;
					color:$secondary;
					font-size: 10px;
					

					&:hover {
						color:$neutral;
					

					}
					&:after {
						content:"/";
						padding-left:1em;
					}

				}
			}
		}

}

.mobile-tophat {
  padding:2em;
  background:$secondary;
  a {
    float:left;
    color:white;
    display:inline-block;
    font-size: 24px;
  }
}


.logo {
	position: absolute;

  margin:10px 0 0 -40px !important;
	max-width:350px;
}



.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

.container {
  position: relative;
  overflow: hidden;

}

.banquet .container {
  overflow: visible;
  width:auto;
}

.menu-trigger {
  position: relative;
  padding-left: 60px;
  font-size: 0.9em;
}



.mobile-push {
  position: relative;
  left: 0;
  height: 100%;
}

.mobile-menu {
  position: absolute; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 0 0 30px rgba(0,0,0,.9);
  width: 270px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mobile-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:5000;
  background: #004750;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mobile-push::after,
.mobile-level::after,
.mobile-level::before {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.mobile-push::after,
.mobile-level::after {
  background: rgba(0,0,0,0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mobile-level::after {
  z-index: -1;
}

.mobile-push.mobile-pushed::after,
.mobile-level.mobile-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mobile-level.mobile-level-overlay {
  cursor: pointer;
}

.mobile-level.mobile-level-overlay.mobile-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mobile-push,
.mobile-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mobile-overlap .mobile-level.mobile-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.mobile-menu > .mobile-level,
.mobile-menu > .mobile-level.mobile-level-open,
.mobile-menu.mobile-overlap > .mobile-level,
.mobile-menu.mobile-overlap > .mobile-level.mobile-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mobile-cover .mobile-level.mobile-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mobile-cover .mobile-level.mobile-level-open > ul > li > .mobile-level:not(.mobile-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* content style */
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu h2 {
  margin: 0;
  padding: .5em 1em;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 24px;
  color:white;
}

.mobile-menu.mobile-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mobile-menu.mobile-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

.mobile-overlap .mobile-level.mobile-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.mobile-menu ul li > a {
  display: inline-block;
  width:100%;
  padding: 1em 2em;
  outline: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: 16px;
  color:white;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  span {
    display:inline-block;
      &:before {
        margin-left:1em;
      }
    }
}

.mobile-menu ul li {
  border-top:solid 1px #281805;
  &:last-child {
    border-bottom:solid 1px #281805;
  }
}

.mobile-menu ul li a:hover,
.mobile-level > ul > li:first-child > a:hover {
  background: rgba(0,0,0,0.2);
}



.back, .back:visited {
  background: rgba(0,0,0,0.1);
  outline: none;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;

}



.mobile-menu .mobile-level.mobile-level-overlay > .back,
.mobile-menu .mobile-level.mobile-level-overlay > .back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mobile-push,
.no-js .mobile-push {
  padding-left: 300px;
}

.no-csstransforms3d .mobile-menu .mobile-level,
.no-js .mobile-menu .mobile-level {
  display: none;
}

.no-csstransforms3d .mobile-menu > .mobile-level,
.no-js .mobile-menu > .mobile-level {
  display: block;
}