* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tophat {
  background:#E7E7E7;
  ul {
    float:left;
    margin:0;
    li {
      font-size: 12px;
      display:inline-block;
      padding:7px 10px;
      border-right:solid 1px #CFCFCF;
      &, a {
        color:#575757;
      }
      &:last-child {
        
        border:0;
      }
    }
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  padding:0;
  height:100%;
  margin:0;
}

#map-canvas { 
  height: 200px; 
}

.alerts {
  .alert-error {
    h2{
      color:#94230E;
    }
  }
  .alert-info {
    h2 {
      color:#10526B;
    }
  }
  .alert-success {
    h2 {
      color:#147A1C;
    }
  }
  h2 {
    font-size: 26px;
    margin:10px 0;
  }
}

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.event-item {
  border-bottom:solid 1px $secondary;
  padding:1em;
  p {
    &:last-child {
      margin:0;
    }
  }
  &:last-child {
    border-bottom:0;
  }
}


/* MAIN */

#mapCanvas { height: 250px;
  margin-bottom:1em;
  img {
    max-width:none;
  }
 }

.ad_space.visible-phone {
  text-align:center;
  a {
    float:left;
    margin:.5em;
    width:43%;
  }
}

.association {
  display:inline-block;
  li {
    float:left;
    margin:.5em;
  }
}

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  margin:auto;

    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

hr.wrap {
  margin:1em auto;
}

.hero {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  .wrap {
    padding:2em;
    background: rgba(0,0,0,.6);
  }
}

.interior {
  
 
  img {
    margin:1em;
    display:inline-block;
  }
}



.home {
  .hero {
    text-align: center;
    padding:9em 1em;
    h1, a, p {
      color:white;
      text-align: center;
    }
    h1 {
      text-transform: uppercase;
      font-size: 25px;

    }
    .button {
      font-size: 14px;
      font-family: $heading;
      border-radius:10px;
      background:transparent;
      border:solid 2px white;
      @include transition (all .3s);
      &:hover {
        background:white;
        color:$secondary;
      }
    }
  }
}
  .tab {
    max-width: 250px;
    top: -51px;
    position: absolute;
    background: #77161b;
    border-radius: 5px;
    
    margin-left:10%;
    z-index:1;
    box-shadow:0 0 10px black;
    @include transition (all .3s);
    &:hover {
      top:-60px;
    }
    a {
      color:white;
      padding: 1em 2em;
      display: inline-block;
    }
    span {
      font-size: 25px;
      display:inline-block;
      position: relative;
      top:5px;
    }
  }

  .map_contain {
    position: relative;
  }

.map-header {
  .mainnav {
    box-shadow: 0 4px 10px rgba(0,0,0,.4);
  }
  .shadow {
    box-shadow: 0 -4px 10px rgba(0,0,0,.4);
    position: relative;
  }
  .pagetitle {
    color:$secondary;
  }
}

.button-row {
  margin:2em 0;
  text-align: center;
  .button {
    margin-right:1em;
    span{
      display:inline-block;
      margin-right:5px;
    }
  }
}

.map {
  .button {
    font-size: 11px;
  }
}



.trailmap {
  background:$secondary url('/resources/img/trailmap.png')no-repeat center;
  background-size:auto 100%;;
  padding:1em 0;
  text-align: center;
  position: relative;
  z-index:2;

  .wrap {
    max-width:600px;
    z-index:3;
    position: relative;
  }
  h2 {
    text-transform: uppercase;
    color:white;
    font-size: 25px;
  }
  p {
    color:white;
  }
}


.ad_space {
  a {
    &:hover {
      opacity:.8;
    }
  }
  img {
    margin:0 0 1em 0;
  }
}

.store {
  background:#e5e5e5;
  border-top:4px solid $light;
  border-bottom:4px solid $light;
  .span4 {
    width:31.623931623931625%;
    float:left;
    margin:1%;
  }
  h3, p, a {
    margin:0;
  }
  h2 {
    text-align: center;
    color:$neutral;
    font-weight: 400;
  }
  h3 {
    font-family: $body;
    font-size: 12px;
    line-height: 1.4;
    text-transform: none;
  }
  p {
    font-size: 12px;
  }
  .price {
    font-size: 17px;
  }
  a {
    text-transform: uppercase;
    color:$secondary;
    font-size: 14px;
  }
  .info {
    text-transform: lowercase;
    color:$primary;
    @include transition(all .3s);
    &:hover {

      &:before {
        -webkit-animation: out 1s;
      }
    }
  }
}


.feature-image {
  height:200px;
  overflow:hidden;
  position: relative;
  background-size:cover;
  background-position: center center;
}

.news {
  .news-left {
    width: 22%;
    float:left;
    display:none;
  }
  .news-right {
    float:left;
    width:100%;
    margin-left:3%;
  }
  img {
    margin-bottom:1em;
    width:100%;
    height:auto;
    position: absolute;
  }
  h2 {
    margin-bottom: 20px;;
  }
  h3 {
    font-size: 20px;
    text-transform: none;
    span {
      font-size: 14px;
      color:$secondary;
      font-family: $body;
      font-weight: 400;
      strong{
        font-weight: 700;
      }
    }
  }

}

.hit_this {
  margin-bottom:1em;
  text-align: center;
  .ico-location {
      font-size: 30px; 
    }
  img {
    margin:1em 0;
  }
  hr {
    margin:.5em 0;
  }
  p,a,h2,h3 {
    margin:0;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 14px;

    span {
      font-family: $heading;
      color:$secondary;
    }
  }
  .info {
      font-size: 10px !important;
      color:$secondary;
      font-weight: bold;
    }
}

.friend {
  background:url('/resources/img/friend_Bg.png') no-repeat;
  background-size:cover;
  height:auto;
  width:auto;
  border-radius:5px;
  padding:3em;
  @include transition(all .3s);
  &:hover {
    .button {
      opacity:.8;
    }
  }

  h2,p {
    color:white;
 
  }
  h2 {
    font-size:24px;
    font-weight: 800;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
    line-height: 1.4;

  }
  .button {
      background:white;
      color:$secondary;
      font-size: .85em;
    }
}

.archives {
  margin-bottom:1em;
;

  li {
    margin-top:1em;
  &:hover {
    @include transition(.3s);
    & {
      border-color:$secondary;
    }
    h4 {
      color:$secondary;
    }

  }
  }
  h3 {
    margin:0;
  }
  h4 {
    font-size: 13px;
    span {
      font-size: 16px;
      color:$secondary;
    }
  }
  p {
    font-size: 13px;
  }
  li {
    border-bottom:solid 2px $neutral;
    &:last-child {
      border-bottom: 0px;
    }
  }
}


.home {
  .social {
    margin-bottom:1em;
    padding:.5em 0;
    border-top:solid 1px $secondary;
    border-bottom:solid 1px $secondary;
    p {
      font-size: 12px;
      display:inline;
    }
    a {
      font-size: 15px;
      color:$neutral;
      .ico-mail {
        font-size: 21px;
      }
      &:hover {
        color:$secondary;
      }
    }
  }
}

.feature_photo {
  img {
    margin-bottom: 1em;
  }
}
/* FOOTER */




.left, .right {
    position: relative;
    height: 100px;
    width: 200px;
    background: #000;
    float: left;
}

.left {
    background:red;
}

.left:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -50px;
}

.right {
 margin-left:40px;
    width: 100px;
}

.right:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid black;
    border-left: 50px solid transparent;
    border-right: 0px solid black;
    position: absolute;
    top: -50px;
    left: -50px;
}


.ads {
  background:white;
  border-top:solid 10px $secondary;
  z-index:2;
  position: relative;
  padding-bottom:0;
  a {
    &:hover {
      opacity:.8;
    }
  }
}


.map {
  .ico-location:before {
    display:inline-block;
    margin-right:.5em;
    font-size: 1em;
  }
  h1 {
    color:$secondary;
    font-weight: 400;
    text-transform: none;
    padding-bottom:.5em;
    border-bottom: 1px solid $secondary;
    margin-bottom:.5em;
    font-size: 3em;
  }
  .direction {
    padding:2em 0;
    color:#505050;
    font-size: 14px;
  }
 .button {
  text-transform: none;
  margin-bottom:1em;
 }
  .location {
    margin-bottom:2em;
    border-bottom:solid 1px $secondary;
    &:last-child {
      margin-bottom:0;
      border-bottom:0;
    }
    h2 {
      text-transform: none;
      font-size: 1.5em;
      margin-bottom:.5em;
    }
  }
}


.donation-form {
  h3 {
    margin-bottom:10px;
  }
  input {
    margin-bottom:1em;
    display: inline;
  }
}

.posts {
  margin:0;
  li {
    &,a {
      font-size: 14px;
    }
    border-bottom:solid 1px $neutral;
    padding:1em 0 1em 1em;
    &:last-child {
      border-bottom:0px;
    }
  }
}

.title {
  font-size: 24px;
  text-transform: none;
}

.post {
  padding:1em 0; 
  border-bottom:solid 1px $neutral;
  &:last-child {
    border-bottom:0;
  }
  h2 {
    text-transform: none;
    font-size: 18px;
    line-height: 1.4;
  }
}

.pageList {
  text-align: center;
  margin:3em 0 1em;
  li {
    
    display: inline;
    margin-right:5px;
    &:last-child {
      margin-right:0;
    }
    a {
      margin-bottom:10px;
      font-size: 12px;
      padding:10px 12px;
      border:solid 1px $secondary;
      border-radius:5px;
      display:inline-block;
      @include transition(all .3s);
      &.active, &:hover {
        color:white;
        background:$secondary;
      }
    }
  }
}


/* General styles for all menus */



.cbp-spmenu {
  background: #424242;
  position: fixed;
  ul {
    li {
      list-style:none;
    }
  }
}

.cbp-spmenu h3 {
  color: white;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #611014;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: $secondary;
}

.cbp-spmenu li.active {
  a {
    background: #292827;
  }
}



/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #272727;
  padding: 10px;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}

.mobile-tophat {
  img {
    margin:0;
  }
}


.articles {
  .post {
    img {
      display:none;
    }
  }
}

.business-feature {
  height:200px;
  background-size:100%;
  background-position:center;
  margin-bottom:1em;
  background-repeat:no-repeat;
}


.galleries {
  img {
    margin:0;
  }
  .ad_space {
    img{
      margin:0 0 1em 0;
    }
  }
  .gallery {
    li{
      @include rowGrid(2,0);
      height:auto;
      border:0;
      border-radius:0;
      box-shadow:none;
    }
  }
}


.gallery {
  li {
    @include rowGrid(2,0);
      margin-bottom:1em;
      display: inline-block;
      float:left;
      height:200px;
      background-size:cover;
      background-repeat:no-repeat;
      position: relative;
      overflow: hidden;
      @include opacity(.8);
      
      @include transition(all .3s);
      &:hover {
        box-shadow:0 0 10px rgba(0,0,0,.7);
        @include opacity(1);
        .meta {
          bottom:0;
        }
      }
    .meta {
      @include transition(all .3s);
      background:rgba(255,255,255,.9);
      position: absolute;
      bottom:0px;
      text-align: center;
      width:100%;
      display: table; 
        a {
          display:table-cell;
          vertical-align:middle;
          h1,p {
            font-weight: 100;
          }
          h1 {
            font-size: 21px;
          }
        }
      
      
    }
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  padding:0!important;
  position: relative;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('/resources/img/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('/resources/img/loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent; /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(255,255,255,.8);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5){

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox_sprite@2x.png');
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url('fancybox_loading@2x.gif');
    background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
  }
}

.learningCenter{
  .learning-center{
    ul {
      list-style:disc outside none;
      padding-left:20px;
    }
  }
}
.content {
  .span9 {
    ul {
      list-style-type: disc;
      padding-left:30px;
      li {
        list-style-type: disc;
      }
    }
  }
}


.banquet {
  .content {
    padding:2em;
  }
  .logo{
    left: 2em;
    position: relative;
    z-index:1001;
    }
  .logo{
    width:270px;
    
  }
  .hero {
    padding:8em 0;
    p {
      text-align: center;
      color:white;
    }
  }
  .donation-form input, .donation-form textarea {
    padding: 0 0 0 20px;
    height:35px;
  }

  .donation-form input[type="submit"]{
    height:auto;
    padding:20px;
  }

  .donation-form {
    select{
      margin-bottom: 2em;
    }
  }
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.participants {
  margin: 0;
  li {
    img {
      margin-bottom: 5px;
    }
    p {
      font-size: 12px;
      
    }
  }
}

.bars {
  > div {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
  }
  .pieBar {
    padding:1em;
    color:white;
  }
  .one {
    background-color: #55bbc6;

  }
  .two {
    background-color: #105b63;

  }
  .three {
    background-color: #fffad5;
    color:#105b63;

  }
  .four {
    background-color: #ffd34e;
    color:#105b63;
  }
  .five {
    background-color: #db9e36;

  }
  .six  {
    background-color: #bd4932;

  }
  .seven {
    background-color: #6a1e0f;

  }
}

form.voting {
  label {
    float:left;
    margin-right: 1em;
    font-weight: 800;
  }
  .row-fluid {
    margin-bottom: 1em;
  }

}


#poll {
  .instructions {
    p {
      font-style: italic;
      margin-bottom: 2em;
    }
    h2 {
      margin-bottom: 0;
    }
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  /* line 1620, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1621, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 1625, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1626, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}
