body {
  font: 100%/1.5 $body;
  color: $neutral;
  line-height:1.4;
}



/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  text-transform: uppercase;
  line-height:1.1;
  margin:0 0 1em;
  font-weight:700;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 1;

  color: $neutral;
}

h2 {
  color:$secondary;
  font-size: 36px;
  font-weight: 400;
}

h3 {
    font-family: $body;
    color:$neutral;
    font-size: 25px;
    font-weight: 400;
  }

h4 {
  font-size: 14px;
  color:$neutral;
  font-weight: 400;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$link;
  }
}


.pagetitle {
  font-size: 34px;
  text-align: center;
  color:white;
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}


/* BUTTON */

.btn, a:visited.btn, .button, button { 
@include button;
}

/* ICONS */
.ico-plus:before {
  content: "\e600";
}
.ico-times:before {
  content: "\e601";
}
.ico-tick:before {
  content: "\e602";
}
.ico-th-menu:before {
  content: "\e603";
}
.ico-home:before {
  content: "\e604";
}
.ico-delete:before {
  content: "\e605";
}
.ico-map:before {
  content: "\e606";
}
.ico-arrow-forward:before {
  content: "\e607";
}
.ico-arrow-up-thick:before {
  content: "\e608";
}
.ico-arrow-down-thick:before {
  content: "\e609";
}
.ico-arrow-left-thick:before {
  content: "\e60a";
}
.ico-arrow-right-thick:before {
  content: "\e60b";
}
.ico-shopping-cart:before {
  content: "\e60c";
}
.ico-mail:before {
  content: "\e60d";
}
.ico-camera:before {
  content: "\e60e";
}
.ico-location:before {
  content: "\e60f";
}
.ico-phone:before {
  content: "\e610";
}
.ico-bubbles:before {
  content: "\e611";
}
.ico-facebook:before {
  content: "\e612";
}
.ico-twitter:before {
  content: "\e613";
}
.ico-zoom-in:before {
  content: "\e614";
}
.ico-zoom-out:before {
  content: "\e615";
}
.ico-expand:before {
  content: "\e616";
}

.info:before {
  content: "\e600";
    font-family: 'rrvt';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:$secondary;
  display:inline-block;
  top:2px;
  position: relative;
  margin-right: 10px;
      -webkit-animation: in 1s;
}
