// COLOR PALETTE
$primary: #403f3f;
$secondary: #77161b;
$hover: #a33238;
$neutral: #838080;
$highlight: #306DB1;
$light: #bba37c;
$link: #77161b;

// FONT STACKS
$heading: 'Arvo', serif;
$body: 'Raleway', sans-serif;