[[+sales_rep]] has requested a new ad for [[+advertiser]] from [[++site_url]]: <br />
<br />
<strong>Advertiser</strong> - [[+advertiser]]<br>
<strong>Primary Contact</strong> - [[+primary_contact]]<br>
<strong>Contact Email</strong> - [[+email]]<br>
<strong>Contact Phone</strong> - [[+phone]]<br>
<hr>
<strong>Ad URL</strong> - [[+url]]<br>
<strong>Ad Size</strong> - [[+ad_size]]<br>
<strong>[[+artwork]]</strong> we are creating the ad.
<br />
[[+comments:notempty=`
<strong>Instructions</strong><br>
[[+comments]]
`]]

