 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`ad_email_TPL`
       &emailTo=`justin.lobaito@weloideas.com`
       &emailSubject=`New Ad Request - [[+advertiser]]`
       &validate=`phone:required, advertiser:required, sales_rep:required, primary_contact:required, email:required, email:email, nospam:blank, url:required`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>You ad order has been submited.</h3>
      <p>If this is new artwork please allow 1-2 business days for me to complete the order.</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div>
          <strong><h3>Please review the following errors:</h3></strong>
                [[!+fi.error.sales_rep:!empty=`<p>Your name is required</p>`]]
                [[!+fi.error.advertiser:!empty=`<p>Advertiser is required</p>`]]
                [[!+fi.error.primary_contact:!empty=`<p>Primary Contact is required</p>`]]
                [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
                [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
                [[!+fi.error.url:!empty=`<p>An ad URL is required</p>`]]

    </div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row-fluid" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="nospam" value="" />
                            <label for="sales_rep">Your name<sup>*</sup></label>
                            <input type="text" value="[[!+fi.sales_rep]]" id="sales_rep" name="sales_rep">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label for="advertiser">Advertiser<sup>*</sup></label>
                                    <p><small>proper name for the advertiser</small></p>
                                    <input type="text" value="[[!+fi.advertiser]]" id="advertiser" name="advertiser">
                                </div>
                                <div class="span6">
                                    <label for="primary_contact">Primary Contact<sup>*</sup></label>
                                    <p><small>RRVT's primary contact with business (name)</small></p>
                                    <input type="text" value="[[!+fi.primary_contact]]" id="primary_contact" name="primary_contact"  placeholder="John Doe">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label for="email">Email Address<sup>*</sup></label>
                                    <p><small>email address of the primary contact</small></p>
                                    <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                                </div>
                                <div class="span6">
                                    <label for="phone">Phone<sup>*</sup></label>
                                    <p><small>phone number of primary contact</small></p>
                                    <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <label for="url">Ad Link<sup>*</sup></label>
                                    <p><small>the url the ad will be linking to</small></p>
                                    <input type="text" value="[[!+fi.url]]" id="url" name="url"   placeholder="http://website.com">
                                </div>
                                <div class="span4">
                                    <label for="email">Ad Size<sup>*</sup></label>
                                    <p><small>&nbsp;</small></p>
                                    <select value="[[!+fi.ad_size]]" id="ad_size" name="ad_size">
                                        <option value="Sidebar">Sidebar (200x200)</option>
                                        <option value="Banner">Banner (940x105)</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <label for="email">Artwork<sup>*</sup></label>
                                    <p><small>is the client providing the artwork?</small></p>
                                    <select value="[[!+fi.artwork]]" id="artwork" name="artwork">
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            
                            <label for="contact_attachment">Attach artwork</label>
                            <p><small>If the client is providing the artwork, please upload here</small></p>
                            <input type="file" name="contact_attachment" value="[[!+fi.contact_attachment]]" /><br>
                            <p>If we are creating the artwork please complete the rest of the form below.<br><strong>Be as thorough as possible</strong></p>
                            <hr>
                            <label for="contact_attachment">Client Logo</label>
                            <p><small>Please upload the clients logo. Acceptable file types are (pdf, eps, png) <strong>jpgs will not work</strong>.</small></p>
                            <input type="file" name="contact_logo" value="[[!+fi.contact_logo]]" accept=".png, .eps, .pdf"/>
                            <label for="comments">Key Messaging</label>
                            <p><small>What are the necessary instructions I need to consider while making this ad? What is the messaging? What colors, imagery, etc... is the client looking for. The more thorough you are the easier it is to create the ad.<br><strong>If there are any provided images, please attach below</small></p>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                            <div class="row-fluid">
                                <div class="span4"><input type="file" name="contact_images1" value="[[!+fi.contact_images1]]" /></div>
                                <div class="span4"><input type="file" name="contact_images2" value="[[!+fi.contact_images2]]" /></div>
                                <div class="span4"><input type="file" name="contact_images3" value="[[!+fi.contact_images3]]" /></div>
                            </div>
                        <input class="cbp-mc-submit" type="submit" value="Submit" />
                        
                    </form>
                  