<div class="location">
	<div class="row-fluid">
		<div class="span4 business-feature" style="background-image:url('[[+feature-photo]]')"></div>
		<div class="span8">
			<h2><a href="[[~[[+id]]]]">[[+pagetitle]]</a><span> - [[+address]]</span></h2>
			[[+introtext]]<br><hr>
			<a href="[[+googlemap]]" class="button">Find [[+pagetitle]] on the trail</a>&nbsp;<a href="tel:[[+tel]]" class="button"><span class="ico-phone"></span>&nbsp;Call [[+pagetitle]]</a>&nbsp;
			<a href="[[~[[+id]]]]" class="button">Learn more about [[+pagetitle]]</a>
		</div>
	</div>
</div>

