
	<li>
		<p>
			<strong>[[+pagetitle]]</strong><br>
			[[+tel:notempty=`[[+tel]]<br>`]]
			[[+address:notempty=`[[+address]]<br>`]]
			[[!getResourceField? &id=`[[+parent]]`]], IA [[!getResourceField? &id=`[[+parent]]` &field=`introtext`]]
		</p>
	</li>


