
        <script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/classie.js"></script>
        <script src="/resources/js/interactive-map.js"></script>

     
        <script>
           $( document ).ready(function() {
                $('body').addClass("cbp-spmenu-push");
                function fbShare(url, title, descr, image, winWidth, winHeight) {
                        "use strict";
                        var winTop = (screen.height / 2) - (winHeight / 2);
                        var winLeft = (screen.width / 2) - (winWidth / 2);
                        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                    };
                    $('.popup').magnificPopup({type:'iframe'});
                  
                
            });
          
        </script>
        <script>
            var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
                showLeftPush = document.getElementById( 'showLeftPush' ),
                body = document.body;

           
            
            showLeftPush.onclick = function(e) {
                e.preventDefault();
                classie.toggle( this, 'active' );
                classie.toggle( body, 'cbp-spmenu-push-toright' );
                classie.toggle( menuLeft, 'cbp-spmenu-open' );
            };
        </script>
        <script>
            function fbShare(url, title, descr, image, winWidth, winHeight) {
                var winTop = (screen.height / 2) - (winHeight / 2);
                var winLeft = (screen.width / 2) - (winWidth / 2);
                window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
            }
        </script>

        <script>
        $(window).load(function() {
               
                $(".fancybox").fancybox();
                
            });
        </script>
        
        <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </body>
</html>