<section class="footer">
            <div class="row-fluid wrap">
                <div class="span4">
                     <p>Raccoon River Valley Trail Association<br>
                        14581 K Avenue Perry, Iowa 50220 <span class="hidden-phone">| </span><br class="display-phone">515-465-3577<br>
                        <a href="mailto:[[++primary_email]]">[[++primary_email]]</a></p>
                 </div>
                 <div class="span8 hidden-phone">
                    [[Wayfinder? 
                            &startId=`0`
                            &innerTpl=`nav_inner`
                            &outerTpl=`nav_outer_upper`
                            &includeDocs=`7,4,329`
                            &excludeDocs=`1`
                            &sortBy=`menuindex`
                            ]]
                    <br>
                    [[Wayfinder? 
                    &level=`1`
                    &startId=`0`
                    &innerTpl=`nav_inner`
                    &outerTpl=`nav_outer`
                    &excludeDocs=`5,7,4,1,329`
                    &sortBy=`menuindex`

                    ]]
                     
                 </div> 
            </div>
        </section>
