 [[!FormIt?
       &validate=`donation_amount:minValue=^25^
      

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div>
          <strong><h3>Please review the following errors:</h3></strong>
                [[!+fi.error.donation_amount:!empty=`<p>To receive a trail pass, a minimum $25 donation amount is required</p>`]]

    </div>
</div>


`]]


<form action="https://rrvt.foxycart.com/cart" method="post" class="donation-form" accept-charset="utf-8">
    <h3>Friends General Donation</h3>
    <div class="row-fluid">
		    <input type="hidden" name="name" value="RRVT - Friends General Donation" />
			<label for="price">Enter in your donation amount<sup>*</sup></label>
		    <span>$ <input  name="price" type="number" min="25" value="[[*donation_amount]]" /></span>
		    <label for="Donation Recognition">Name/s to include for donation recognition.<br>One name per Line</label>
		    <textarea value="" id="comments" name="Donation Recognition"></textarea>
		    </div>
    <input type="submit" name="Add to Cart" value="Add to Cart" class="button" />

</form>