<form action="https://rrvt.foxycart.com/cart" method="post" class="donation-form" accept-charset="utf-8">
    <h3>Annual Trail Pass</h3>
    <div class="row-fluid">
		    <input type="hidden" name="name" value="RRVT - Annual Trail Pass" />
			<label for="price">Enter in your donation amount<sup>*</sup></label>
		    <span>$ <input  name="price" type="number" min="25" value="[[*donation_amount]]" /></span>
		    <label for="Trail Names">Enter in the names of those receiving a trail pass.<br>One name per Line</label>
		    <textarea value="" id="comments" name="Trail Names"></textarea>
		    </div>
    <input type="submit" name="Add to Cart" value="Add to Cart" class="button" />

</form>