<div class="span6 hit_this">
    <h2>hit this <span class="ico-location"></span></h2>
    <p>Popular stops along the trail you shouldn’t pass.</p>
    <hr>
    <h3><span>[[+parent]]</span>  - [[+pagetitle]]</h3>
    <p>[[!tagLister? &tv=`tags` &tvDelimiter=` |`]]</p>
    <p class="info">[[+hours]]</p>
    <img src="[[+location-image]]" alt="">
    <a href="[[*googlemap]]" target="_new" class="button">Find this spot on the trail</a>
</div>