<h3>[[+pagetitle]]<br><span class="meta"><strong>[[+article_location]]</strong>, [[+publishedon:strtotime:date=`%e %B, %Y`]]</span></h3>
<div class="row-fluid">
    [[+feature_photo:notempty=`<div class="feature-image news-left" style="background-image:url('[[+feature_photo]]')">
    </div>`]]
    <div class="news-right feature-news [[+feature_photo:empty=`full-width`]]">
        <p>[[+introtext:limit=`500`:stripTags]]&nbsp;<a href="[[~[[+id]]]]">...</a></p>
        <div class="row-fluid meta">
            <div class="span5 social">
                <p>Share This Story:</p>
                <script>
                    function fbShare(url, title, descr, image, winWidth, winHeight) {
                    var winTop = (screen.height / 2) - (winHeight / 2);
                    var winLeft = (screen.width / 2) - (winWidth / 2);
                    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                }
                </script>
                <a href="javascript:fbShare('[[++site_url]][[~[[+id]]]]', '+', '+', 'http://raccoonrivervalleytrail.org/[[+feature_photo]]', 520, 350)"><span class="ico-facebook"></span></a>
                

                <a href="https://twitter.com/intent/tweet?url=[[++site_url]][[~[[+id]]]]&amp;text=[[+pagetitle]]"onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="ico-twitter"></span></a>
                
                <a href="mailto:?subject=[[+pagetitle]]&body=[[++site_url]][[~[[+id]]]]"><span class="ico-mail"></span></a>
            </div>
            <div class="span7">
                <a href="[[~[[+id]]]]" class="button">Continue Reading Story</a>
            </div>
        </div>
    </div>
</div>


