<li>
    <a href="[[~[[+id]]]]">
        <h4>[[+pagetitle:limit=`75`]] <span class="date">[[+publishedon:strtotime:date=`%m/%d`]]</span></h4>
        <p>[[+content:limit=`200`:stripTags]]...</p>
    </a>
</li>


