<section class="row-fluid content wrap">
    <div class="span3 learning-center hidden-phone">
        [[*sidebar-content]]
    </div>
    <div class="span9">
        <div class="row-fluid">
            [[*content]]
        </div>
    </div>
</section>