<ul class="top-row">
	[[+wf.wrapper]]
	<a class="font-size:80%" href="https://rrvt.foxycart.com/cart?cart=view" class="foxycart">
    	<span class="ico-shopping-cart"></span>
    </a>
</ul>

                