<div class="tophat visible-desktop row-fluid">
    <div class="wrap">
        <ul>
            <li>[[++primary_phone]]</li>
            <li><a href="mailto:[[++primary-email]]">[[++primary_email]]</a></li>
            <li><a  class="ico-facebook" target="_blank" href="[[++facebook]]"></a></li>
        </ul>
    </div>
</div>
<div class="mobile-tophat hidden-desktop cf"><a href="#" class="ico-th-menu" id="showLeftPush"></a href=""><a href="/" style="float:right; display:inline-block; margin-top:-20px;"><img width="200" src="/resources/img/logo.png" alt=""></a></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cf" id="cbp-spmenu-s1">

         [[Wayfinder? 
                    &level=`0`
                    &startId=`0`
                    &innerTpl=`m_nav_inner`
                    &outerTpl=`m_nav_outer`
                    &level=`1`
                    &excludeDocs=`5,234`
                    &sortBy=`menuindex`
                    ]]
          
        </nav>
        <nav class="mainnav visible-desktop">
            <div class="wrap">
                <a href="/"><img class="logo" src="/resources/img/logo.png" alt=""></a>
                <div class="nav_items span7 offset1">

                        [[Wayfinder? 
                            &startId=`0`
                            &innerTpl=`nav_inner`
                            &outerTpl=`nav_outer_upper`
                            &includeDocs=`7,4,329`
                            &excludeDocs=`1`
                            &sortBy=`menuindex`
                            ]]
                    <br>
                    [[Wayfinder? 
                    &level=`1`
                    &startId=`0`
                    &innerTpl=`nav_inner`
                    &outerTpl=`nav_outer`
                    &excludeDocs=`5,7,4,1,329`
                    &sortBy=`menuindex`

                    ]]
                </div>
            </div>
        </nav>