<form action="https://rrvt.foxycart.com/cart" method="post" class="donation-form" accept-charset="utf-8">
    <h3>Donate to a specific trail project:</h3>
    <p>If you would like to donate to a current trail project, please select one below. Our current projects are:</p>
    <ul style="list-style:disc; padding:0 0 0 40px;">
    	<li style="line-height:1.6">“Let’s Connect”, donate to help fund the Raccoon River Valley Trail to the High Trestle Trail Connector project (Perry to Woodward trail). <a href="Images/pdfs/lets-connect.pdf">More information here</a>.</li>
    	<li style="line-height:1.6">Pave the RRVT Gravel Crossings</li>
	    	<ul style="list-style:disc; padding:0 0 0 40px;">
	    		<li style="line-height:1.6">Pave the crossings in Dallas County</li>
	    		<li style="line-height:1.6">Pave the crossings in Guthrie County</li>
	    		<li style="line-height:1.6">Pave the crossings in Greene County</li>
	    	</ul>
    	<li style="line-height:1.6">“Trees Along the Trail” project in Dallas County.  Donate to help plant trees along the open areas of the RRVT in Dallas County.</li>
    	<li style="line-height:1.6">RRVT Waukee Trail Art project.  Donate to help with raising funds for the RRVT Waukee Trail Art project. <a href="Images/pdfs/trailhead-art.pdf">More information here</a>.</li>
    </ul>

    <div class="row-fluid">
		    <input type="hidden" name="name" value="RRVT - Project Donation" />
		    <label for="project">Select a project to specifically donate to:<sup>*</sup></label>
		    <select name="project" id="project">
		    	<option value="Select a project" selected disabled></option>
		    	<option value="Let’s Connect">Let’s Connect</option>
		    	<option value="Pave the crossings in Dallas County">Pave the crossings in Dallas County</option>
		    	<option value="Pave the crossings in Guthrie County">Pave the crossings in Guthrie County</option>
		    	<option value="Pave the crossings in Greene County">Pave the crossings in Greene County</option>
		    	<option value="Trees Along the Trail">Trees Along the Trail</option>
		    	<option value="Waukee Trail Art project">Waukee Trail Art project</option>
		    </select>
		    <br>
		    <br>
			<label for="price">Enter in your donation amount<sup>*</sup></label>
		    <span>$ <input  name="price" type="number" min="25" value="[[*donation_amount]]" /></span>
    <input type="submit" name="Add to Cart" value="Add to Cart" class="button" />

</form>