<section class="hero" style="background-image:url('[[+promotion-image]]')">
    <div class="wrap row-fluid">
        <h1>[[+pagetitle]]</h1>
        <p>[[+callout-text]]</p>
        [[+promotion-link:notempty=`<a href="[[+promotion-link]]" class="button">[[+promotion-text]]</a>`]]
        [[+promotion-popup:notempty=`<a class="button"  target="_blank" href="[[+promotion-popup]]">[[+promotion-text]]</a>`]]
    </div>
</section>