<div id="poll">
  <div class="instructions">
    <h2>Best pie on the RRVT?</h2>
    <p>Select a location below to cast your vote!</p>
  </div>
  <form class="voting">
    <div class="row-fluid">
      <label for="patrick">Patrick’s Restaurant, in Adel:</label>
      <input id="patrick" type="radio" name="vote" value="0" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="uptown">Uptown Café, in Jefferson:</label>
      <input id="uptown" type="radio" name="vote" value="1" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="crossing">Crossings Bistro &amp; Brew, in Minburn:</label>
      <input id="crossing" type="radio" name="vote" value="2" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="pj">PJ’s Drive-In, in Panora:</label>
      <input id="pj" type="radio" name="vote" value="3" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="davids">David’s Milwaukee Diner, Hotel Pattee, in Perry:</label>
      <input id="davids" type="radio" name="vote" value="4" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="dexfield">Dexfield Diner, in Redfield:</label>
      <input id="dexfield" type="radio" name="vote" value="5" onclick="getVote(this.value)">
    </div>
    <div class="row-fluid">
      <label for="bellst">Bell Street Market, in Yale:</label>
      <input id="bellst" type="radio" name="vote" value="6" onclick="getVote(this.value)">
    </div>

  </form>
</div>
<script>
function getVote(int) {
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
      document.getElementById("poll").innerHTML=xmlhttp.responseText;
    }
  }
  xmlhttp.open("GET","poll_vote.php?vote="+int,true);
  xmlhttp.send();
}
</script>