/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #838080;
  line-height: 1.4;
}

/* HEADINGS */
/* line 11, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Arvo", serif;
  color: #403f3f;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 1em;
  font-weight: 700;
}

/* line 20, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 1;
  color: #838080;
}

/* line 29, ../sass/_typography.scss */
h2 {
  color: #77161b;
  font-size: 36px;
  font-weight: 400;
}

/* line 35, ../sass/_typography.scss */
h3 {
  font-family: "Raleway", sans-serif;
  color: #838080;
  font-size: 25px;
  font-weight: 400;
}

/* line 42, ../sass/_typography.scss */
h4 {
  font-size: 14px;
  color: #838080;
  font-weight: 400;
}

/* PARAGRAPH */
/* line 50, ../sass/_typography.scss */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #403f3f;
}

/* line 58, ../sass/_typography.scss */
a {
  color: #77161b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 62, ../sass/_typography.scss */
a:hover {
  color: #a33238;
  text-decoration: none;
}
/* line 66, ../sass/_typography.scss */
a:visited {
  color: #77161b;
}

/* line 72, ../sass/_typography.scss */
.pagetitle {
  font-size: 34px;
  text-align: center;
  color: white;
}

/* LISTS */
/* line 79, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* BUTTON */
/* line 87, ../sass/_typography.scss */
.btn, a:visited.btn, .button, button {
  padding: 1em 2em;
  background: #77161b;
  display: inline-block !important;
  border-radius: 5px !important;
  color: white;
  font-size: 14px;
  border: 1px solid #77161b;
  margin-bottom: 1em;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 401, ../sass/_mixins.scss */
.btn:visited, a:visited.btn:visited, .button:visited, button:visited {
  color: white;
}
/* line 404, ../sass/_mixins.scss */
.btn:hover, .btn:focus, a:visited.btn:hover, a:visited.btn:focus, .button:hover, .button:focus, button:hover, button:focus {
  background: transparent;
  color: #77161b;
}

/* ICONS */
/* line 92, ../sass/_typography.scss */
.ico-plus:before {
  content: "\e600";
}

/* line 95, ../sass/_typography.scss */
.ico-times:before {
  content: "\e601";
}

/* line 98, ../sass/_typography.scss */
.ico-tick:before {
  content: "\e602";
}

/* line 101, ../sass/_typography.scss */
.ico-th-menu:before {
  content: "\e603";
}

/* line 104, ../sass/_typography.scss */
.ico-home:before {
  content: "\e604";
}

/* line 107, ../sass/_typography.scss */
.ico-delete:before {
  content: "\e605";
}

/* line 110, ../sass/_typography.scss */
.ico-map:before {
  content: "\e606";
}

/* line 113, ../sass/_typography.scss */
.ico-arrow-forward:before {
  content: "\e607";
}

/* line 116, ../sass/_typography.scss */
.ico-arrow-up-thick:before {
  content: "\e608";
}

/* line 119, ../sass/_typography.scss */
.ico-arrow-down-thick:before {
  content: "\e609";
}

/* line 122, ../sass/_typography.scss */
.ico-arrow-left-thick:before {
  content: "\e60a";
}

/* line 125, ../sass/_typography.scss */
.ico-arrow-right-thick:before {
  content: "\e60b";
}

/* line 128, ../sass/_typography.scss */
.ico-shopping-cart:before {
  content: "\e60c";
}

/* line 131, ../sass/_typography.scss */
.ico-mail:before {
  content: "\e60d";
}

/* line 134, ../sass/_typography.scss */
.ico-camera:before {
  content: "\e60e";
}

/* line 137, ../sass/_typography.scss */
.ico-location:before {
  content: "\e60f";
}

/* line 140, ../sass/_typography.scss */
.ico-phone:before {
  content: "\e610";
}

/* line 143, ../sass/_typography.scss */
.ico-bubbles:before {
  content: "\e611";
}

/* line 146, ../sass/_typography.scss */
.ico-facebook:before {
  content: "\e612";
}

/* line 149, ../sass/_typography.scss */
.ico-twitter:before {
  content: "\e613";
}

/* line 152, ../sass/_typography.scss */
.ico-zoom-in:before {
  content: "\e614";
}

/* line 155, ../sass/_typography.scss */
.ico-zoom-out:before {
  content: "\e615";
}

/* line 158, ../sass/_typography.scss */
.ico-expand:before {
  content: "\e616";
}

/* line 162, ../sass/_typography.scss */
.info:before {
  content: "\e600";
  font-family: 'rrvt';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #77161b;
  display: inline-block;
  top: 2px;
  position: relative;
  margin-right: 10px;
  -webkit-animation: in 1s;
}

@font-face {
  font-family: 'rrvt';
  src: url("/resources/fonts/rrvt.eot?t4mb8r");
  src: url("/resources/fonts/rrvt.eot?#iefixt4mb8r") format("embedded-opentype"), url("/resources/fonts/rrvt.woff?t4mb8r") format("woff"), url("/resources/fonts/rrvt.ttf?t4mb8r") format("truetype"), url("/resources/fonts/rrvt.svg?t4mb8r#rrvt") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_fontstacks.scss */
[class^="ico-"], [class*=" ico-"] {
  font-family: 'rrvt';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../sass/_navigation.scss */
.mainnav {
  background: #79191e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #79191e 0%, #79191e 40%, white 40%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #79191e), color-stop(40%, #79191e), color-stop(40%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #79191e 0%, #79191e 40%, white 40%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #79191e 0%, #79191e 40%, white 40%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #79191e 0%, #79191e 40%, white 40%, white 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #79191e 0%, #79191e 40%, #ffffff 40%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79191e', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 1em 0;
  position: relative;
  z-index: 2;
}
/* line 14, ../sass/_navigation.scss */
.mainnav .top-row form {
  float: left;
}
/* line 16, ../sass/_navigation.scss */
.mainnav .top-row form input {
  font-size: 10px;
  padding: 0 1em;
  display: inline;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  border-radius: 5px;
}
/* line 28, ../sass/_navigation.scss */
.mainnav .wrap {
  position: relative;
}
/* line 31, ../sass/_navigation.scss */
.mainnav .nav_items {
  float: right;
}
/* line 33, ../sass/_navigation.scss */
.mainnav .nav_items ul {
  float: right;
  margin-bottom: 1em;
}
/* line 36, ../sass/_navigation.scss */
.mainnav .nav_items ul li {
  float: left;
}
/* line 39, ../sass/_navigation.scss */
.mainnav .nav_items ul li:last-child a:after {
  content: none;
  padding-left: 0;
}
/* line 44, ../sass/_navigation.scss */
.mainnav .nav_items ul li a {
  padding: 1em 1em 1em 0;
  text-transform: uppercase;
  color: #403f3f;
  font-size: 11px;
}
/* line 51, ../sass/_navigation.scss */
.mainnav .nav_items ul li a:hover {
  color: #77161b;
}
/* line 56, ../sass/_navigation.scss */
.mainnav .nav_items ul li a:after {
  content: "/";
  padding-left: 1em;
}

/* line 67, ../sass/_navigation.scss */
.footer {
  background: #e6e6e6;
  text-align: center;
}
/* line 71, ../sass/_navigation.scss */
.footer .span4 p {
  color: #403f3f;
  font-size: 12px;
}
/* line 76, ../sass/_navigation.scss */
.footer ul {
  float: right;
  margin: 0;
}
/* line 79, ../sass/_navigation.scss */
.footer ul li {
  float: left;
  text-align: center;
}
/* line 83, ../sass/_navigation.scss */
.footer ul li:last-child a:after {
  content: none;
  padding-left: 0;
}
/* line 88, ../sass/_navigation.scss */
.footer ul li a {
  padding: 1em 1em 1em 0;
  text-transform: uppercase;
  color: #77161b;
  font-size: 10px;
}
/* line 95, ../sass/_navigation.scss */
.footer ul li a:hover {
  color: #838080;
}
/* line 100, ../sass/_navigation.scss */
.footer ul li a:after {
  content: "/";
  padding-left: 1em;
}

/* line 111, ../sass/_navigation.scss */
.mobile-tophat {
  padding: 2em;
  background: #77161b;
}
/* line 114, ../sass/_navigation.scss */
.mobile-tophat a {
  float: left;
  color: white;
  display: inline-block;
  font-size: 24px;
}

/* line 123, ../sass/_navigation.scss */
.logo {
  position: absolute;
  margin: 10px 0 0 -40px !important;
  max-width: 350px;
}

/* line 132, ../sass/_navigation.scss */
.scroller {
  overflow-y: scroll;
}

/* line 137, ../sass/_navigation.scss */
.scroller,
.scroller-inner {
  position: relative;
}

/* line 141, ../sass/_navigation.scss */
.container {
  position: relative;
  overflow: hidden;
}

/* line 147, ../sass/_navigation.scss */
.banquet .container {
  overflow: visible;
  width: auto;
}

/* line 152, ../sass/_navigation.scss */
.menu-trigger {
  position: relative;
  padding-left: 60px;
  font-size: 0.9em;
}

/* line 160, ../sass/_navigation.scss */
.mobile-push {
  position: relative;
  left: 0;
  height: 100%;
}

/* line 166, ../sass/_navigation.scss */
.mobile-menu {
  position: absolute;
  /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  width: 270px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 179, ../sass/_navigation.scss */
.mobile-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: #004750;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
/* line 195, ../sass/_navigation.scss */
.mobile-push::after,
.mobile-level::after,
.mobile-level::before {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

/* line 205, ../sass/_navigation.scss */
.mobile-push::after,
.mobile-level::after {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

/* line 212, ../sass/_navigation.scss */
.mobile-level::after {
  z-index: -1;
}

/* line 217, ../sass/_navigation.scss */
.mobile-push.mobile-pushed::after,
.mobile-level.mobile-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 226, ../sass/_navigation.scss */
.mobile-level.mobile-level-overlay {
  cursor: pointer;
}

/* line 230, ../sass/_navigation.scss */
.mobile-level.mobile-level-overlay.mobile-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

/* line 238, ../sass/_navigation.scss */
.mobile-push,
.mobile-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
/* line 245, ../sass/_navigation.scss */
.mobile-overlap .mobile-level.mobile-level-open {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
/* line 256, ../sass/_navigation.scss */
.mobile-menu > .mobile-level,
.mobile-menu > .mobile-level.mobile-level-open,
.mobile-menu.mobile-overlap > .mobile-level,
.mobile-menu.mobile-overlap > .mobile-level.mobile-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
/* line 264, ../sass/_navigation.scss */
.mobile-cover .mobile-level.mobile-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 270, ../sass/_navigation.scss */
.mobile-cover .mobile-level.mobile-level-open > ul > li > .mobile-level:not(.mobile-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* content style */
/* line 277, ../sass/_navigation.scss */
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 283, ../sass/_navigation.scss */
.mobile-menu h2 {
  margin: 0;
  padding: .5em 1em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 24px;
  color: white;
}

/* line 292, ../sass/_navigation.scss */
.mobile-menu.mobile-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 308, ../sass/_navigation.scss */
.mobile-menu.mobile-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

/* line 315, ../sass/_navigation.scss */
.mobile-overlap .mobile-level.mobile-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

/* line 325, ../sass/_navigation.scss */
.mobile-menu ul li > a {
  display: inline-block;
  width: 100%;
  padding: 1em 2em;
  outline: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: white;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}
/* line 336, ../sass/_navigation.scss */
.mobile-menu ul li > a span {
  display: inline-block;
}
/* line 338, ../sass/_navigation.scss */
.mobile-menu ul li > a span:before {
  margin-left: 1em;
}

/* line 344, ../sass/_navigation.scss */
.mobile-menu ul li {
  border-top: solid 1px #281805;
}
/* line 346, ../sass/_navigation.scss */
.mobile-menu ul li:last-child {
  border-bottom: solid 1px #281805;
}

/* line 352, ../sass/_navigation.scss */
.mobile-menu ul li a:hover,
.mobile-level > ul > li:first-child > a:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* line 358, ../sass/_navigation.scss */
.back, .back:visited {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 379, ../sass/_navigation.scss */
.mobile-menu .mobile-level.mobile-level-overlay > .back,
.mobile-menu .mobile-level.mobile-level-overlay > .back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
/* line 388, ../sass/_navigation.scss */
.no-csstransforms3d .mobile-push,
.no-js .mobile-push {
  padding-left: 300px;
}

/* line 393, ../sass/_navigation.scss */
.no-csstransforms3d .mobile-menu .mobile-level,
.no-js .mobile-menu .mobile-level {
  display: none;
}

/* line 398, ../sass/_navigation.scss */
.no-csstransforms3d .mobile-menu > .mobile-level,
.no-js .mobile-menu > .mobile-level {
  display: block;
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Arvo", serif;
  color: #403f3f;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Arvo", serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #403f3f;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #403f3f;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  padding: 1em 2em;
  background: #77161b;
  display: inline-block !important;
  border-radius: 5px !important;
  color: white;
  font-size: 14px;
  border: 1px solid #77161b;
  margin-bottom: 1em;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: auto;
}
/* line 401, ../sass/_mixins.scss */
.main-form input.cbp-mc-submit:visited {
  color: white;
}
/* line 404, ../sass/_mixins.scss */
.main-form input.cbp-mc-submit:hover, .main-form input.cbp-mc-submit:focus {
  background: transparent;
  color: #77161b;
}

/* line 95, ../sass/_forms.scss */
button[type="submit"], input[type="submit"] {
  margin-top: 1em;
}

/* line 99, ../sass/_forms.scss */
input[type="file"] {
  height: auto;
  background: none;
}

/* line 104, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 108, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 112, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_smallest.scss */
.tophat {
  background: #E7E7E7;
}
/* line 9, ../sass/_smallest.scss */
.tophat ul {
  float: left;
  margin: 0;
}
/* line 12, ../sass/_smallest.scss */
.tophat ul li {
  font-size: 12px;
  display: inline-block;
  padding: 7px 10px;
  border-right: solid 1px #CFCFCF;
}
/* line 17, ../sass/_smallest.scss */
.tophat ul li, .tophat ul li a {
  color: #575757;
}
/* line 20, ../sass/_smallest.scss */
.tophat ul li:last-child {
  border: 0;
}

/* line 29, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 34, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/* line 38, ../sass/_smallest.scss */
body {
  padding: 0;
  height: 100%;
  margin: 0;
}

/* line 44, ../sass/_smallest.scss */
#map-canvas {
  height: 200px;
}

/* line 50, ../sass/_smallest.scss */
.alerts .alert-error h2 {
  color: #94230E;
}
/* line 55, ../sass/_smallest.scss */
.alerts .alert-info h2 {
  color: #10526B;
}
/* line 60, ../sass/_smallest.scss */
.alerts .alert-success h2 {
  color: #147A1C;
}
/* line 64, ../sass/_smallest.scss */
.alerts h2 {
  font-size: 26px;
  margin: 10px 0;
}

/* RESPONSIVE IMAGES */
/* line 72, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 79, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 84, ../sass/_smallest.scss */
.event-item {
  border-bottom: solid 1px #77161b;
  padding: 1em;
}
/* line 88, ../sass/_smallest.scss */
.event-item p:last-child {
  margin: 0;
}
/* line 92, ../sass/_smallest.scss */
.event-item:last-child {
  border-bottom: 0;
}

/* MAIN */
/* line 100, ../sass/_smallest.scss */
#mapCanvas {
  height: 250px;
  margin-bottom: 1em;
}
/* line 102, ../sass/_smallest.scss */
#mapCanvas img {
  max-width: none;
}

/* line 107, ../sass/_smallest.scss */
.ad_space.visible-phone {
  text-align: center;
}
/* line 109, ../sass/_smallest.scss */
.ad_space.visible-phone a {
  float: left;
  margin: .5em;
  width: 43%;
}

/* line 116, ../sass/_smallest.scss */
.association {
  display: inline-block;
}
/* line 118, ../sass/_smallest.scss */
.association li {
  float: left;
  margin: .5em;
}

/* line 124, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 129, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 133, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 138, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 144, ../sass/_smallest.scss */
hr.wrap {
  margin: 1em auto;
}

/* line 148, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 152, ../sass/_smallest.scss */
.hero .wrap {
  padding: 2em;
  background: rgba(0, 0, 0, 0.6);
}

/* line 161, ../sass/_smallest.scss */
.interior img {
  margin: 1em;
  display: inline-block;
}

/* line 170, ../sass/_smallest.scss */
.home .hero {
  text-align: center;
  padding: 9em 1em;
}
/* line 173, ../sass/_smallest.scss */
.home .hero h1, .home .hero a, .home .hero p {
  color: white;
  text-align: center;
}
/* line 177, ../sass/_smallest.scss */
.home .hero h1 {
  text-transform: uppercase;
  font-size: 25px;
}
/* line 182, ../sass/_smallest.scss */
.home .hero .button {
  font-size: 14px;
  font-family: "Arvo", serif;
  border-radius: 10px;
  background: transparent;
  border: solid 2px white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 189, ../sass/_smallest.scss */
.home .hero .button:hover {
  background: white;
  color: #77161b;
}

/* line 196, ../sass/_smallest.scss */
.tab {
  max-width: 250px;
  top: -51px;
  position: absolute;
  background: #77161b;
  border-radius: 5px;
  margin-left: 10%;
  z-index: 1;
  box-shadow: 0 0 10px black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 207, ../sass/_smallest.scss */
.tab:hover {
  top: -60px;
}
/* line 210, ../sass/_smallest.scss */
.tab a {
  color: white;
  padding: 1em 2em;
  display: inline-block;
}
/* line 215, ../sass/_smallest.scss */
.tab span {
  font-size: 25px;
  display: inline-block;
  position: relative;
  top: 5px;
}

/* line 223, ../sass/_smallest.scss */
.map_contain {
  position: relative;
}

/* line 228, ../sass/_smallest.scss */
.map-header .mainnav {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
/* line 231, ../sass/_smallest.scss */
.map-header .shadow {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}
/* line 235, ../sass/_smallest.scss */
.map-header .pagetitle {
  color: #77161b;
}

/* line 240, ../sass/_smallest.scss */
.button-row {
  margin: 2em 0;
  text-align: center;
}
/* line 243, ../sass/_smallest.scss */
.button-row .button {
  margin-right: 1em;
}
/* line 245, ../sass/_smallest.scss */
.button-row .button span {
  display: inline-block;
  margin-right: 5px;
}

/* line 253, ../sass/_smallest.scss */
.map .button {
  font-size: 11px;
}

/* line 260, ../sass/_smallest.scss */
.trailmap {
  background: #77161b url("/resources/img/trailmap.png") no-repeat center;
  background-size: auto 100%;
  padding: 1em 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
/* line 268, ../sass/_smallest.scss */
.trailmap .wrap {
  max-width: 600px;
  z-index: 3;
  position: relative;
}
/* line 273, ../sass/_smallest.scss */
.trailmap h2 {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}
/* line 278, ../sass/_smallest.scss */
.trailmap p {
  color: white;
}

/* line 286, ../sass/_smallest.scss */
.ad_space a:hover {
  opacity: .8;
}
/* line 290, ../sass/_smallest.scss */
.ad_space img {
  margin: 0 0 1em 0;
}

/* line 295, ../sass/_smallest.scss */
.store {
  background: #e5e5e5;
  border-top: 4px solid #bba37c;
  border-bottom: 4px solid #bba37c;
}
/* line 299, ../sass/_smallest.scss */
.store .span4 {
  width: 31.623931623931625%;
  float: left;
  margin: 1%;
}
/* line 304, ../sass/_smallest.scss */
.store h3, .store p, .store a {
  margin: 0;
}
/* line 307, ../sass/_smallest.scss */
.store h2 {
  text-align: center;
  color: #838080;
  font-weight: 400;
}
/* line 312, ../sass/_smallest.scss */
.store h3 {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 1.4;
  text-transform: none;
}
/* line 318, ../sass/_smallest.scss */
.store p {
  font-size: 12px;
}
/* line 321, ../sass/_smallest.scss */
.store .price {
  font-size: 17px;
}
/* line 324, ../sass/_smallest.scss */
.store a {
  text-transform: uppercase;
  color: #77161b;
  font-size: 14px;
}
/* line 329, ../sass/_smallest.scss */
.store .info {
  text-transform: lowercase;
  color: #403f3f;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 335, ../sass/_smallest.scss */
.store .info:hover:before {
  -webkit-animation: out 1s;
}

/* line 343, ../sass/_smallest.scss */
.feature-image {
  height: 200px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
}

/* line 352, ../sass/_smallest.scss */
.news .news-left {
  width: 22%;
  float: left;
  display: none;
}
/* line 357, ../sass/_smallest.scss */
.news .news-right {
  float: left;
  width: 100%;
  margin-left: 3%;
}
/* line 362, ../sass/_smallest.scss */
.news img {
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  position: absolute;
}
/* line 368, ../sass/_smallest.scss */
.news h2 {
  margin-bottom: 20px;
}
/* line 371, ../sass/_smallest.scss */
.news h3 {
  font-size: 20px;
  text-transform: none;
}
/* line 374, ../sass/_smallest.scss */
.news h3 span {
  font-size: 14px;
  color: #77161b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
/* line 379, ../sass/_smallest.scss */
.news h3 span strong {
  font-weight: 700;
}

/* line 387, ../sass/_smallest.scss */
.hit_this {
  margin-bottom: 1em;
  text-align: center;
}
/* line 390, ../sass/_smallest.scss */
.hit_this .ico-location {
  font-size: 30px;
}
/* line 393, ../sass/_smallest.scss */
.hit_this img {
  margin: 1em 0;
}
/* line 396, ../sass/_smallest.scss */
.hit_this hr {
  margin: .5em 0;
}
/* line 399, ../sass/_smallest.scss */
.hit_this p, .hit_this a, .hit_this h2, .hit_this h3 {
  margin: 0;
}
/* line 402, ../sass/_smallest.scss */
.hit_this p {
  font-size: 12px;
}
/* line 405, ../sass/_smallest.scss */
.hit_this h3 {
  font-size: 14px;
}
/* line 408, ../sass/_smallest.scss */
.hit_this h3 span {
  font-family: "Arvo", serif;
  color: #77161b;
}
/* line 413, ../sass/_smallest.scss */
.hit_this .info {
  font-size: 10px !important;
  color: #77161b;
  font-weight: bold;
}

/* line 420, ../sass/_smallest.scss */
.friend {
  background: url("/resources/img/friend_Bg.png") no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 3em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 429, ../sass/_smallest.scss */
.friend:hover .button {
  opacity: .8;
}
/* line 434, ../sass/_smallest.scss */
.friend h2, .friend p {
  color: white;
}
/* line 438, ../sass/_smallest.scss */
.friend h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
}
/* line 443, ../sass/_smallest.scss */
.friend p {
  font-size: 16px;
  line-height: 1.4;
}
/* line 448, ../sass/_smallest.scss */
.friend .button {
  background: white;
  color: #77161b;
  font-size: .85em;
}

/* line 455, ../sass/_smallest.scss */
.archives {
  margin-bottom: 1em;
}
/* line 459, ../sass/_smallest.scss */
.archives li {
  margin-top: 1em;
}
/* line 461, ../sass/_smallest.scss */
.archives li:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 463, ../sass/_smallest.scss */
.archives li:hover {
  border-color: #77161b;
}
/* line 466, ../sass/_smallest.scss */
.archives li:hover h4 {
  color: #77161b;
}
/* line 472, ../sass/_smallest.scss */
.archives h3 {
  margin: 0;
}
/* line 475, ../sass/_smallest.scss */
.archives h4 {
  font-size: 13px;
}
/* line 477, ../sass/_smallest.scss */
.archives h4 span {
  font-size: 16px;
  color: #77161b;
}
/* line 482, ../sass/_smallest.scss */
.archives p {
  font-size: 13px;
}
/* line 485, ../sass/_smallest.scss */
.archives li {
  border-bottom: solid 2px #838080;
}
/* line 487, ../sass/_smallest.scss */
.archives li:last-child {
  border-bottom: 0px;
}

/* line 495, ../sass/_smallest.scss */
.home .social {
  margin-bottom: 1em;
  padding: .5em 0;
  border-top: solid 1px #77161b;
  border-bottom: solid 1px #77161b;
}
/* line 500, ../sass/_smallest.scss */
.home .social p {
  font-size: 12px;
  display: inline;
}
/* line 504, ../sass/_smallest.scss */
.home .social a {
  font-size: 15px;
  color: #838080;
}
/* line 507, ../sass/_smallest.scss */
.home .social a .ico-mail {
  font-size: 21px;
}
/* line 510, ../sass/_smallest.scss */
.home .social a:hover {
  color: #77161b;
}

/* line 518, ../sass/_smallest.scss */
.feature_photo img {
  margin-bottom: 1em;
}

/* FOOTER */
/* line 527, ../sass/_smallest.scss */
.left, .right {
  position: relative;
  height: 100px;
  width: 200px;
  background: #000;
  float: left;
}

/* line 535, ../sass/_smallest.scss */
.left {
  background: red;
}

/* line 539, ../sass/_smallest.scss */
.left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  right: -50px;
}

/* line 554, ../sass/_smallest.scss */
.right {
  margin-left: 40px;
  width: 100px;
}

/* line 559, ../sass/_smallest.scss */
.right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 100px solid black;
  border-left: 50px solid transparent;
  border-right: 0px solid black;
  position: absolute;
  top: -50px;
  left: -50px;
}

/* line 575, ../sass/_smallest.scss */
.ads {
  background: white;
  border-top: solid 10px #77161b;
  z-index: 2;
  position: relative;
  padding-bottom: 0;
}
/* line 582, ../sass/_smallest.scss */
.ads a:hover {
  opacity: .8;
}

/* line 590, ../sass/_smallest.scss */
.map .ico-location:before {
  display: inline-block;
  margin-right: .5em;
  font-size: 1em;
}
/* line 595, ../sass/_smallest.scss */
.map h1 {
  color: #77161b;
  font-weight: 400;
  text-transform: none;
  padding-bottom: .5em;
  border-bottom: 1px solid #77161b;
  margin-bottom: .5em;
  font-size: 3em;
}
/* line 604, ../sass/_smallest.scss */
.map .direction {
  padding: 2em 0;
  color: #505050;
  font-size: 14px;
}
/* line 609, ../sass/_smallest.scss */
.map .button {
  text-transform: none;
  margin-bottom: 1em;
}
/* line 613, ../sass/_smallest.scss */
.map .location {
  margin-bottom: 2em;
  border-bottom: solid 1px #77161b;
}
/* line 616, ../sass/_smallest.scss */
.map .location:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 620, ../sass/_smallest.scss */
.map .location h2 {
  text-transform: none;
  font-size: 1.5em;
  margin-bottom: .5em;
}

/* line 630, ../sass/_smallest.scss */
.donation-form h3 {
  margin-bottom: 10px;
}
/* line 633, ../sass/_smallest.scss */
.donation-form input {
  margin-bottom: 1em;
  display: inline;
}

/* line 639, ../sass/_smallest.scss */
.posts {
  margin: 0;
}
/* line 641, ../sass/_smallest.scss */
.posts li {
  border-bottom: solid 1px #838080;
  padding: 1em 0 1em 1em;
}
/* line 642, ../sass/_smallest.scss */
.posts li, .posts li a {
  font-size: 14px;
}
/* line 647, ../sass/_smallest.scss */
.posts li:last-child {
  border-bottom: 0px;
}

/* line 653, ../sass/_smallest.scss */
.title {
  font-size: 24px;
  text-transform: none;
}

/* line 658, ../sass/_smallest.scss */
.post {
  padding: 1em 0;
  border-bottom: solid 1px #838080;
}
/* line 661, ../sass/_smallest.scss */
.post:last-child {
  border-bottom: 0;
}
/* line 664, ../sass/_smallest.scss */
.post h2 {
  text-transform: none;
  font-size: 18px;
  line-height: 1.4;
}

/* line 671, ../sass/_smallest.scss */
.pageList {
  text-align: center;
  margin: 3em 0 1em;
}
/* line 674, ../sass/_smallest.scss */
.pageList li {
  display: inline;
  margin-right: 5px;
}
/* line 678, ../sass/_smallest.scss */
.pageList li:last-child {
  margin-right: 0;
}
/* line 681, ../sass/_smallest.scss */
.pageList li a {
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px 12px;
  border: solid 1px #77161b;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 689, ../sass/_smallest.scss */
.pageList li a.active, .pageList li a:hover {
  color: white;
  background: #77161b;
}

/* General styles for all menus */
/* line 702, ../sass/_smallest.scss */
.cbp-spmenu {
  background: #424242;
  position: fixed;
}
/* line 706, ../sass/_smallest.scss */
.cbp-spmenu ul li {
  list-style: none;
}

/* line 712, ../sass/_smallest.scss */
.cbp-spmenu h3 {
  color: white;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #611014;
}

/* line 721, ../sass/_smallest.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* line 728, ../sass/_smallest.scss */
.cbp-spmenu a:hover {
  background: #77161b;
}

/* line 733, ../sass/_smallest.scss */
.cbp-spmenu li.active a {
  background: #292827;
}

/* Orientation-dependent styles for the content of the menu */
/* line 742, ../sass/_smallest.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 749, ../sass/_smallest.scss */
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #272727;
  padding: 10px;
}

/* line 754, ../sass/_smallest.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 762, ../sass/_smallest.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 768, ../sass/_smallest.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 777, ../sass/_smallest.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 781, ../sass/_smallest.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 785, ../sass/_smallest.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 789, ../sass/_smallest.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 795, ../sass/_smallest.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 799, ../sass/_smallest.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 803, ../sass/_smallest.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 807, ../sass/_smallest.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 813, ../sass/_smallest.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 819, ../sass/_smallest.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 823, ../sass/_smallest.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 830, ../sass/_smallest.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 840, ../sass/_smallest.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 845, ../sass/_smallest.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 849, ../sass/_smallest.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 857, ../sass/_smallest.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 863, ../sass/_smallest.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 867, ../sass/_smallest.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 871, ../sass/_smallest.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* line 877, ../sass/_smallest.scss */
.mobile-tophat img {
  margin: 0;
}

/* line 885, ../sass/_smallest.scss */
.articles .post img {
  display: none;
}

/* line 891, ../sass/_smallest.scss */
.business-feature {
  height: 200px;
  background-size: 100%;
  background-position: center;
  margin-bottom: 1em;
  background-repeat: no-repeat;
}

/* line 901, ../sass/_smallest.scss */
.galleries img {
  margin: 0;
}
/* line 905, ../sass/_smallest.scss */
.galleries .ad_space img {
  margin: 0 0 1em 0;
}
/* line 910, ../sass/_smallest.scss */
.galleries .gallery li {
  width: 50%;
  height: auto;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 326, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 922, ../sass/_smallest.scss */
.gallery li {
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
  float: left;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 935, ../sass/_smallest.scss */
.gallery li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 938, ../sass/_smallest.scss */
.gallery li:hover .meta {
  bottom: 0;
}
/* line 942, ../sass/_smallest.scss */
.gallery li .meta {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  display: table;
}
/* line 950, ../sass/_smallest.scss */
.gallery li .meta a {
  display: table-cell;
  vertical-align: middle;
}
/* line 953, ../sass/_smallest.scss */
.gallery li .meta a h1, .gallery li .meta a p {
  font-weight: 100;
}
/* line 956, ../sass/_smallest.scss */
.gallery li .meta a h1 {
  font-size: 21px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 977, ../sass/_smallest.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 985, ../sass/_smallest.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 992, ../sass/_smallest.scss */
.fancybox-skin {
  padding: 0 !important;
  position: relative;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 1002, ../sass/_smallest.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 1006, ../sass/_smallest.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 1012, ../sass/_smallest.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 1016, ../sass/_smallest.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 1020, ../sass/_smallest.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 1024, ../sass/_smallest.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 1032, ../sass/_smallest.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 1038, ../sass/_smallest.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 1043, ../sass/_smallest.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/resources/img/fancybox_sprite.png");
}

/* line 1047, ../sass/_smallest.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 1059, ../sass/_smallest.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/resources/img/loading.gif") center center no-repeat;
}

/* line 1065, ../sass/_smallest.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 1075, ../sass/_smallest.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 1087, ../sass/_smallest.scss */
.fancybox-prev {
  left: 0;
}

/* line 1091, ../sass/_smallest.scss */
.fancybox-next {
  right: 0;
}

/* line 1095, ../sass/_smallest.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

/* line 1105, ../sass/_smallest.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 1110, ../sass/_smallest.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 1115, ../sass/_smallest.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 1119, ../sass/_smallest.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 1131, ../sass/_smallest.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 1136, ../sass/_smallest.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 1140, ../sass/_smallest.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 1144, ../sass/_smallest.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(255, 255, 255, 0.8);
}

/* line 1154, ../sass/_smallest.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 1160, ../sass/_smallest.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 1167, ../sass/_smallest.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 1175, ../sass/_smallest.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 1179, ../sass/_smallest.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 1188, ../sass/_smallest.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 1204, ../sass/_smallest.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 1210, ../sass/_smallest.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 1214, ../sass/_smallest.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 1229, ../sass/_smallest.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 1234, ../sass/_smallest.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 1242, ../sass/_smallest.scss */
.learningCenter .learning-center ul {
  list-style: disc outside none;
  padding-left: 20px;
}

/* line 1250, ../sass/_smallest.scss */
.content .span9 ul {
  list-style-type: disc;
  padding-left: 30px;
}
/* line 1253, ../sass/_smallest.scss */
.content .span9 ul li {
  list-style-type: disc;
}

/* line 1262, ../sass/_smallest.scss */
.banquet .content {
  padding: 2em;
}
/* line 1265, ../sass/_smallest.scss */
.banquet .logo {
  left: 2em;
  position: relative;
  z-index: 1001;
}
/* line 1270, ../sass/_smallest.scss */
.banquet .logo {
  width: 270px;
}
/* line 1274, ../sass/_smallest.scss */
.banquet .hero {
  padding: 8em 0;
}
/* line 1276, ../sass/_smallest.scss */
.banquet .hero p {
  text-align: center;
  color: white;
}
/* line 1281, ../sass/_smallest.scss */
.banquet .donation-form input, .banquet .donation-form textarea {
  padding: 0 0 0 20px;
  height: 35px;
}
/* line 1286, ../sass/_smallest.scss */
.banquet .donation-form input[type="submit"] {
  height: auto;
  padding: 20px;
}
/* line 1292, ../sass/_smallest.scss */
.banquet .donation-form select {
  margin-bottom: 2em;
}

/* line 1299, ../sass/_smallest.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/* line 1299, ../sass/_smallest.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1301, ../sass/_smallest.scss */
.participants {
  margin: 0;
}
/* line 1304, ../sass/_smallest.scss */
.participants li img {
  margin-bottom: 5px;
}
/* line 1307, ../sass/_smallest.scss */
.participants li p {
  font-size: 12px;
}

/* line 1315, ../sass/_smallest.scss */
.bars > div {
  margin-bottom: 15px;
}
/* line 1318, ../sass/_smallest.scss */
.bars p {
  margin-bottom: 0;
  font-weight: 100;
  font-style: italic;
  font-size: 12px;
}
/* line 1324, ../sass/_smallest.scss */
.bars .pieBar {
  padding: 1em;
  color: white;
}
/* line 1328, ../sass/_smallest.scss */
.bars .one {
  background-color: #55bbc6;
}
/* line 1332, ../sass/_smallest.scss */
.bars .two {
  background-color: #105b63;
}
/* line 1336, ../sass/_smallest.scss */
.bars .three {
  background-color: #fffad5;
  color: #105b63;
}
/* line 1341, ../sass/_smallest.scss */
.bars .four {
  background-color: #ffd34e;
  color: #105b63;
}
/* line 1345, ../sass/_smallest.scss */
.bars .five {
  background-color: #db9e36;
}
/* line 1349, ../sass/_smallest.scss */
.bars .six {
  background-color: #bd4932;
}
/* line 1353, ../sass/_smallest.scss */
.bars .seven {
  background-color: #6a1e0f;
}

/* line 1360, ../sass/_smallest.scss */
form.voting label {
  float: left;
  margin-right: 1em;
  font-weight: 800;
}
/* line 1365, ../sass/_smallest.scss */
form.voting .row-fluid {
  margin-bottom: 1em;
}

/* line 1374, ../sass/_smallest.scss */
#poll .instructions p {
  font-style: italic;
  margin-bottom: 2em;
}
/* line 1378, ../sass/_smallest.scss */
#poll .instructions h2 {
  margin-bottom: 0;
}

/* line 1384, ../sass/_smallest.scss */
.fade-in {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  /* line 1620, ../sass/_smallest.scss */
  /* line 1395, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1621, ../sass/_smallest.scss */
  /* line 1400, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 1625, ../sass/_smallest.scss */
  /* line 1407, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1626, ../sass/_smallest.scss */
  /* line 1412, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?-ee0u0f");
  src: url("../fonts/icomoon/icomoon.eot?#iefix-ee0u0f") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?-ee0u0f") format("woff"), url("../fonts/icomoon/icomoon.ttf?-ee0u0f") format("truetype"), url("../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon") format("svg");
}

/* line 12, ../sass/_banquet.scss */
.banquet {
  /* Header */
  /* Trigger Button */
  /* Conent */
  /* -------------------------- */
  /* Faded gradient */
  /* -------------------------- */
  /*.intro-effect-fadeout .header p:nth-child(2) {
  	-webkit-transform: translateX(150px);
  	transform: translateX(150px);
  }
  
  .intro-effect-fadeout .header p:nth-child(3) {
  	-webkit-transform: translateX(-150px);
  	transform: translateX(-150px);
  }
  
  .intro-effect-fadeout.modify .header p:nth-child(2),
  .intro-effect-fadeout.modify .header p:nth-child(3) {
  	opacity: 1;
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  }*/
  /* Media Queries */
}
/* line 14, ../sass/_banquet.scss */
.banquet html, .banquet body, .banquet .container, .banquet .header {
  height: 100%;
}
/* line 19, ../sass/_banquet.scss */
.banquet .header {
  position: relative;
  margin: 0 auto;
  min-height: 560px;
  width: 100%;
}
/* line 26, ../sass/_banquet.scss */
.banquet .bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 37, ../sass/_banquet.scss */
.banquet .bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}
/* line 49, ../sass/_banquet.scss */
.banquet .title {
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1.25em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 62, ../sass/_banquet.scss */
.banquet .title h1 {
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 800;
  font-size: 3.25em;
  margin: 0 auto;
}
/* line 70, ../sass/_banquet.scss */
.banquet .title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0 auto;
}
/* line 79, ../sass/_banquet.scss */
.banquet .title h1,
.banquet .title p.subline {
  line-height: 1;
}
/* line 83, ../sass/_banquet.scss */
.banquet .title p.subline {
  font-size: 1.75em;
}
/* line 89, ../sass/_banquet.scss */
.banquet button.trigger {
  position: fixed;
  bottom: 60px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -1.75em;
  padding: 0;
  width: 2.5em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}
/* line 107, ../sass/_banquet.scss */
.banquet .container:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
/* line 112, ../sass/_banquet.scss */
.banquet .container.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 119, ../sass/_banquet.scss */
.banquet button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  width: 300%;
  color: #fff;
  content: attr(data-info);
  font-size: 0.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 18px;
  text-align: center;
}
/* line 133, ../sass/_banquet.scss */
.banquet button.trigger:focus {
  outline: none;
}
/* line 137, ../sass/_banquet.scss */
.banquet button.trigger span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 145, ../sass/_banquet.scss */
.banquet button.trigger span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
/* line 155, ../sass/_banquet.scss */
.banquet .banquet .content {
  margin: 0 auto;
  padding: 0 1em 3em;
}
/* line 161, ../sass/_banquet.scss */
.banquet .banquet .content > div:first-child {
  margin: -80px auto 0;
}
/* line 167, ../sass/_banquet.scss */
.banquet .banquet .content h3 {
  margin: 0;
  font-size: 24px;
}
/* line 172, ../sass/_banquet.scss */
.banquet .banquet .content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: 'Lora', serif;
  line-height: 1.4;
}
/* line 180, ../sass/_banquet.scss */
.banquet .banquet .content blockquote::before {
  content: '\201C';
}
/* line 184, ../sass/_banquet.scss */
.banquet .banquet .content blockquote::after {
  content: '\201D';
}
/* line 194, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout:not(.notrans) .bg-img {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
/* line 199, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout:not(.notrans) .bg-img::after {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 204, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout:not(.notrans) .header h1 {
  -webkit-transition-property: color;
  transition-property: color;
}
/* line 210, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout:not(.notrans) .header p,
.banquet .intro-effect-fadeout:not(.notrans) .banquet .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
/* line 219, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout:not(.notrans) .bg-img,
.banquet .intro-effect-fadeout:not(.notrans) .bg-img::after,
.banquet .intro-effect-fadeout:not(.notrans) .header h1,
.banquet .intro-effect-fadeout:not(.notrans) .header p,
.banquet .intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 224, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout .header {
  overflow: hidden;
}
/* line 228, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout.modify .bg-img {
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}
/* line 233, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout .bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
/* line 246, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout.modify .bg-img::after {
  opacity: 1;
}
/* line 250, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout .title {
  text-align: left;
  max-width: 900px;
}
/* line 256, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout.modify .header h1,
.banquet .intro-effect-fadeout .header p {
  color: #514753;
}
/* line 278, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout .content {
  z-index: 1000;
  position: relative;
}
/* line 283, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout .content > div {
  opacity: 0;
  -webkit-transform: translateY(350px);
  transform: translateY(350px);
}
/* line 289, ../sass/_banquet.scss */
.banquet .intro-effect-fadeout.modify .content > div {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
@media screen and (max-width: 47em) {
  /* line 297, ../sass/_banquet.scss */
  .banquet .title, .banquet .content {
    font-size: 70%;
  }
  /* line 301, ../sass/_banquet.scss */
  .banquet .codrops-demos a {
    font-size: 80%;
  }
  /* line 305, ../sass/_banquet.scss */
  .banquet .intro-effect-side .title {
    width: 100%;
    padding: 0 1em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 312, ../sass/_banquet.scss */
  .banquet .intro-effect-side.modify .bg-img::before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  /* line 317, ../sass/_banquet.scss */
  .banquet .intro-effect-side .bg-img::after {
    border-left-width: 0px;
    border-right-width: 0px;
    right: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.1);
  }
  /* line 325, ../sass/_banquet.scss */
  .banquet .intro-effect-side.modify .bg-img::after {
    background: rgba(255, 255, 255, 0.8);
  }
  /* line 329, ../sass/_banquet.scss */
  .banquet .intro-effect-sidefixed .content {
    width: 100%;
    margin-left: auto;
  }
  /* line 334, ../sass/_banquet.scss */
  .banquet .intro-effect-sidefixed .bg-img::after {
    width: 95%;
  }
}
@media screen and (max-width: 27em) {
  /* line 341, ../sass/_banquet.scss */
  .banquet .intro-effect-jam3 .content {
    padding: 0 2em 5em;
  }
  /* line 345, ../sass/_banquet.scss */
  .banquet .intro-effect-grid .grid li h2 {
    display: none;
  }
  /* line 349, ../sass/_banquet.scss */
  .banquet .intro-effect-push .header .title {
    top: 60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  /* line 355, ../sass/_banquet.scss */
  .banquet .title, .banquet .content {
    font-size: 50%;
  }
  /* line 359, ../sass/_banquet.scss */
  .banquet button.trigger::before {
    display: none;
  }
}

/* Magnific Popup CSS */
/* line 2, ../sass/_magnific.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 14, ../sass/_magnific.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 24, ../sass/_magnific.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/_magnific.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 42, ../sass/_magnific.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 45, ../sass/_magnific.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 53, ../sass/_magnific.scss */
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 57, ../sass/_magnific.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 60, ../sass/_magnific.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 65, ../sass/_magnific.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 71, ../sass/_magnific.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 74, ../sass/_magnific.scss */
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 79, ../sass/_magnific.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 82, ../sass/_magnific.scss */
.mfp-hide {
  display: none !important;
}

/* line 85, ../sass/_magnific.scss */
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

/* line 95, ../sass/_magnific.scss */
.mfp-preloader a {
  color: #CCC;
}

/* line 97, ../sass/_magnific.scss */
.mfp-preloader a:hover {
  color: #FFF;
}

/* line 100, ../sass/_magnific.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 103, ../sass/_magnific.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 106, ../sass/_magnific.scss */
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 118, ../sass/_magnific.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 122, ../sass/_magnific.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

/* line 138, ../sass/_magnific.scss */
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 141, ../sass/_magnific.scss */
.mfp-close:active {
  top: 1px;
}

/* line 144, ../sass/_magnific.scss */
.mfp-close-btn-in .mfp-close {
  color: #333;
}

/* line 147, ../sass/_magnific.scss */
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 154, ../sass/_magnific.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

/* line 163, ../sass/_magnific.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 174, ../sass/_magnific.scss */
.mfp-arrow:active {
  margin-top: -54px;
}

/* line 176, ../sass/_magnific.scss */
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 179, ../sass/_magnific.scss */
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

/* line 190, ../sass/_magnific.scss */
.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

/* line 194, ../sass/_magnific.scss */
.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 199, ../sass/_magnific.scss */
.mfp-arrow-left {
  left: 0;
}

/* line 201, ../sass/_magnific.scss */
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

/* line 204, ../sass/_magnific.scss */
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

/* line 208, ../sass/_magnific.scss */
.mfp-arrow-right {
  right: 0;
}

/* line 210, ../sass/_magnific.scss */
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

/* line 213, ../sass/_magnific.scss */
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F;
}

/* line 216, ../sass/_magnific.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 219, ../sass/_magnific.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

/* line 223, ../sass/_magnific.scss */
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* line 226, ../sass/_magnific.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

/* line 231, ../sass/_magnific.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
/* line 242, ../sass/_magnific.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
/* line 255, ../sass/_magnific.scss */
.mfp-figure {
  line-height: 0;
}

/* line 257, ../sass/_magnific.scss */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

/* line 270, ../sass/_magnific.scss */
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

/* line 275, ../sass/_magnific.scss */
.mfp-figure figure {
  margin: 0;
}

/* line 278, ../sass/_magnific.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 286, ../sass/_magnific.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 293, ../sass/_magnific.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 296, ../sass/_magnific.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  /* line 303, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 306, ../sass/_magnific.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* line 308, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  /* line 311, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  /* line 314, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 324, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  /* line 326, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  /* line 329, ../sass/_magnific.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 342, ../sass/_magnific.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 346, ../sass/_magnific.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 350, ../sass/_magnific.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 354, ../sass/_magnific.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 359, ../sass/_magnific.scss */
.mfp-ie7 .mfp-img {
  padding: 0;
}

/* line 361, ../sass/_magnific.scss */
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

/* line 367, ../sass/_magnific.scss */
.mfp-ie7 .mfp-container {
  padding: 0;
}

/* line 369, ../sass/_magnific.scss */
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

/* line 371, ../sass/_magnific.scss */
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em;
    margin: 0;
  }

  /* line 9, ../sass/_480.scss */
  .news .news-left {
    width: 22%;
    float: left;
    display: inline-block;
  }
  /* line 14, ../sass/_480.scss */
  .news .news-right {
    float: left;
    width: 75%;
    margin-left: 3%;
  }
  /* line 18, ../sass/_480.scss */
  .news .news-right.full-width {
    margin-left: 0;
    width: 100%;
  }

  /* line 26, ../sass/_480.scss */
  .gallery li {
    width: 48.5%;
  }
  /* line 326, ../sass/_mixins.scss */
  .gallery li:nth-child(n) {
    margin-bottom: 3%;
    margin-right: 3%;
  }
  /* line 330, ../sass/_mixins.scss */
  .gallery li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 3em 2em;
  }

  /* line 7, ../sass/_768.scss */
  .store .span4 {
    width: 31.623931623931625%;
  }

  /* line 12, ../sass/_768.scss */
  .news, .hit_this {
    text-align: left;
  }

  /* line 17, ../sass/_768.scss */
  .home .hero {
    padding: 8em 0em;
  }
  /* line 19, ../sass/_768.scss */
  .home .hero h1 {
    font-size: 35px;
  }
  /* line 22, ../sass/_768.scss */
  .home .hero .button {
    border: solid 4px white;
  }

  /* line 30, ../sass/_768.scss */
  #mapCanvas {
    height: 600px;
  }

  /* line 35, ../sass/_768.scss */
  .footer {
    background: #79191e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e6e6e6), color-stop(40%, #e6e6e6), color-stop(40%, #77161b), color-stop(100%, #77161b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#77161b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
  }

  /* line 48, ../sass/_768.scss */
  .footer {
    text-align: left;
  }
  /* line 52, ../sass/_768.scss */
  .footer .span4 p {
    color: #403f3f;
    font-size: 12px;
  }
  /* line 57, ../sass/_768.scss */
  .footer ul {
    float: right;
    margin: 0;
  }
  /* line 60, ../sass/_768.scss */
  .footer ul li {
    float: left;
    text-align: center;
  }
  /* line 64, ../sass/_768.scss */
  .footer ul li:last-child a:after {
    content: none;
    padding-left: 0;
  }
  /* line 69, ../sass/_768.scss */
  .footer ul li a {
    padding: 1em 1em 1em 0;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
  }
  /* line 76, ../sass/_768.scss */
  .footer ul li a:hover {
    color: #838080;
  }
  /* line 81, ../sass/_768.scss */
  .footer ul li a:after {
    content: "/";
    padding-left: 1em;
  }

  /* line 93, ../sass/_768.scss */
  .btn, a:visited.btn, .button, button {
    margin-bottom: 0em;
    text-align: left;
  }

  /* line 100, ../sass/_768.scss */
  .map h1 {
    font-size: 6em;
  }
  /* line 103, ../sass/_768.scss */
  .map .button {
    margin-right: 1em;
  }
  /* line 105, ../sass/_768.scss */
  .map .button:last-child {
    margin-right: 0;
  }

  /* line 113, ../sass/_768.scss */
  .gallery li {
    height: 400px;
    width: 50%;
  }
  /* line 326, ../sass/_mixins.scss */
  .gallery li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .gallery li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 119, ../sass/_768.scss */
  .gallery li .meta a h1 {
    font-size: 2em;
  }

  /* line 130, ../sass/_768.scss */
  .galleries .gallery li {
    width: 25%;
  }
  /* line 326, ../sass/_mixins.scss */
  .galleries .gallery li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .galleries .gallery li:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 133, ../sass/_768.scss */
  .galleries .gallery li img {
    width: 100% !important;
  }
}
@media (min-width: 940px) {
  /* line 1, ../sass/_940.scss */
  section {
    padding: 3em 0;
  }

  /* line 7, ../sass/_940.scss */
  .galleries .gallery li {
    width: 16.66667%;
  }
  /* line 326, ../sass/_mixins.scss */
  .galleries .gallery li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .galleries .gallery li:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 10, ../sass/_940.scss */
  .galleries .gallery li img {
    width: 100% !important;
  }
}
@media (min-width: 1025px) {
  /* line 3, ../sass/_1025.scss */
  .gallery li .meta {
    bottom: -100px;
    height: 100px;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
