/* Fluid Grid
-----------------
*/
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_smallest.scss */
.tophat {
  background: #E7E7E7;
}
/* line 9, ../sass/_smallest.scss */
.tophat ul {
  float: left;
  margin: 0;
}
/* line 12, ../sass/_smallest.scss */
.tophat ul li {
  font-size: 12px;
  display: inline-block;
  padding: 7px 10px;
  border-right: solid 1px #CFCFCF;
}
/* line 17, ../sass/_smallest.scss */
.tophat ul li, .tophat ul li a {
  color: #575757;
}
/* line 20, ../sass/_smallest.scss */
.tophat ul li:last-child {
  border: 0;
}

/* line 29, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 34, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/* line 38, ../sass/_smallest.scss */
body {
  padding: 0;
  height: 100%;
  margin: 0;
}

/* line 44, ../sass/_smallest.scss */
#map-canvas {
  height: 200px;
}

/* line 50, ../sass/_smallest.scss */
.alerts .alert-error h2 {
  color: #94230E;
}
/* line 55, ../sass/_smallest.scss */
.alerts .alert-info h2 {
  color: #10526B;
}
/* line 60, ../sass/_smallest.scss */
.alerts .alert-success h2 {
  color: #147A1C;
}
/* line 64, ../sass/_smallest.scss */
.alerts h2 {
  font-size: 26px;
  margin: 10px 0;
}

/* RESPONSIVE IMAGES */
/* line 72, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 79, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 84, ../sass/_smallest.scss */
.event-item {
  border-bottom: solid 1px #77161b;
  padding: 1em;
}
/* line 88, ../sass/_smallest.scss */
.event-item p:last-child {
  margin: 0;
}
/* line 92, ../sass/_smallest.scss */
.event-item:last-child {
  border-bottom: 0;
}

/* MAIN */
/* line 100, ../sass/_smallest.scss */
#mapCanvas {
  height: 250px;
  margin-bottom: 1em;
}
/* line 102, ../sass/_smallest.scss */
#mapCanvas img {
  max-width: none;
}

/* line 107, ../sass/_smallest.scss */
.ad_space.visible-phone {
  text-align: center;
}
/* line 109, ../sass/_smallest.scss */
.ad_space.visible-phone a {
  float: left;
  margin: .5em;
  width: 43%;
}

/* line 116, ../sass/_smallest.scss */
.association {
  display: inline-block;
}
/* line 118, ../sass/_smallest.scss */
.association li {
  float: left;
  margin: .5em;
}

/* line 124, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 129, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 133, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 138, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 144, ../sass/_smallest.scss */
hr.wrap {
  margin: 1em auto;
}

/* line 148, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 152, ../sass/_smallest.scss */
.hero .wrap {
  padding: 2em;
  background: rgba(0, 0, 0, 0.6);
}

/* line 161, ../sass/_smallest.scss */
.interior img {
  margin: 1em;
  display: inline-block;
}

/* line 170, ../sass/_smallest.scss */
.home .hero {
  text-align: center;
  padding: 9em 1em;
}
/* line 173, ../sass/_smallest.scss */
.home .hero h1, .home .hero a, .home .hero p {
  color: white;
  text-align: center;
}
/* line 177, ../sass/_smallest.scss */
.home .hero h1 {
  text-transform: uppercase;
  font-size: 25px;
}
/* line 182, ../sass/_smallest.scss */
.home .hero .button {
  font-size: 14px;
  font-family: "Arvo", serif;
  border-radius: 10px;
  background: transparent;
  border: solid 2px white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 189, ../sass/_smallest.scss */
.home .hero .button:hover {
  background: white;
  color: #77161b;
}

/* line 196, ../sass/_smallest.scss */
.tab {
  max-width: 250px;
  top: -51px;
  position: absolute;
  background: #77161b;
  border-radius: 5px;
  margin-left: 10%;
  z-index: 1;
  box-shadow: 0 0 10px black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 207, ../sass/_smallest.scss */
.tab:hover {
  top: -60px;
}
/* line 210, ../sass/_smallest.scss */
.tab a {
  color: white;
  padding: 1em 2em;
  display: inline-block;
}
/* line 215, ../sass/_smallest.scss */
.tab span {
  font-size: 25px;
  display: inline-block;
  position: relative;
  top: 5px;
}

/* line 223, ../sass/_smallest.scss */
.map_contain {
  position: relative;
}

/* line 228, ../sass/_smallest.scss */
.map-header .mainnav {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
/* line 231, ../sass/_smallest.scss */
.map-header .shadow {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}
/* line 235, ../sass/_smallest.scss */
.map-header .pagetitle {
  color: #77161b;
}

/* line 240, ../sass/_smallest.scss */
.button-row {
  margin: 2em 0;
  text-align: center;
}
/* line 243, ../sass/_smallest.scss */
.button-row .button {
  margin-right: 1em;
}
/* line 245, ../sass/_smallest.scss */
.button-row .button span {
  display: inline-block;
  margin-right: 5px;
}

/* line 253, ../sass/_smallest.scss */
.map .button {
  font-size: 11px;
}

/* line 260, ../sass/_smallest.scss */
.trailmap {
  background: #77161b url("/resources/img/trailmap.png") no-repeat center;
  background-size: auto 100%;
  padding: 1em 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
/* line 268, ../sass/_smallest.scss */
.trailmap .wrap {
  max-width: 600px;
  z-index: 3;
  position: relative;
}
/* line 273, ../sass/_smallest.scss */
.trailmap h2 {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}
/* line 278, ../sass/_smallest.scss */
.trailmap p {
  color: white;
}

/* line 286, ../sass/_smallest.scss */
.ad_space a:hover {
  opacity: .8;
}
/* line 290, ../sass/_smallest.scss */
.ad_space img {
  margin: 0 0 1em 0;
}

/* line 295, ../sass/_smallest.scss */
.store {
  background: #e5e5e5;
  border-top: 4px solid #bba37c;
  border-bottom: 4px solid #bba37c;
}
/* line 299, ../sass/_smallest.scss */
.store .span4 {
  width: 31.623931623931625%;
  float: left;
  margin: 1%;
}
/* line 304, ../sass/_smallest.scss */
.store h3, .store p, .store a {
  margin: 0;
}
/* line 307, ../sass/_smallest.scss */
.store h2 {
  text-align: center;
  color: #838080;
  font-weight: 400;
}
/* line 312, ../sass/_smallest.scss */
.store h3 {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 1.4;
  text-transform: none;
}
/* line 318, ../sass/_smallest.scss */
.store p {
  font-size: 12px;
}
/* line 321, ../sass/_smallest.scss */
.store .price {
  font-size: 17px;
}
/* line 324, ../sass/_smallest.scss */
.store a {
  text-transform: uppercase;
  color: #77161b;
  font-size: 14px;
}
/* line 329, ../sass/_smallest.scss */
.store .info {
  text-transform: lowercase;
  color: #403f3f;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 335, ../sass/_smallest.scss */
.store .info:hover:before {
  -webkit-animation: out 1s;
}

/* line 343, ../sass/_smallest.scss */
.feature-image {
  height: 200px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
}

/* line 352, ../sass/_smallest.scss */
.news .news-left {
  width: 22%;
  float: left;
  display: none;
}
/* line 357, ../sass/_smallest.scss */
.news .news-right {
  float: left;
  width: 100%;
  margin-left: 3%;
}
/* line 362, ../sass/_smallest.scss */
.news img {
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  position: absolute;
}
/* line 368, ../sass/_smallest.scss */
.news h2 {
  margin-bottom: 20px;
}
/* line 371, ../sass/_smallest.scss */
.news h3 {
  font-size: 20px;
  text-transform: none;
}
/* line 374, ../sass/_smallest.scss */
.news h3 span {
  font-size: 14px;
  color: #77161b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
/* line 379, ../sass/_smallest.scss */
.news h3 span strong {
  font-weight: 700;
}

/* line 387, ../sass/_smallest.scss */
.hit_this {
  margin-bottom: 1em;
  text-align: center;
}
/* line 390, ../sass/_smallest.scss */
.hit_this .ico-location {
  font-size: 30px;
}
/* line 393, ../sass/_smallest.scss */
.hit_this img {
  margin: 1em 0;
}
/* line 396, ../sass/_smallest.scss */
.hit_this hr {
  margin: .5em 0;
}
/* line 399, ../sass/_smallest.scss */
.hit_this p, .hit_this a, .hit_this h2, .hit_this h3 {
  margin: 0;
}
/* line 402, ../sass/_smallest.scss */
.hit_this p {
  font-size: 12px;
}
/* line 405, ../sass/_smallest.scss */
.hit_this h3 {
  font-size: 14px;
}
/* line 408, ../sass/_smallest.scss */
.hit_this h3 span {
  font-family: "Arvo", serif;
  color: #77161b;
}
/* line 413, ../sass/_smallest.scss */
.hit_this .info {
  font-size: 10px !important;
  color: #77161b;
  font-weight: bold;
}

/* line 420, ../sass/_smallest.scss */
.friend {
  background: url("/resources/img/friend_Bg.png") no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 3em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 429, ../sass/_smallest.scss */
.friend:hover .button {
  opacity: .8;
}
/* line 434, ../sass/_smallest.scss */
.friend h2, .friend p {
  color: white;
}
/* line 438, ../sass/_smallest.scss */
.friend h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
}
/* line 443, ../sass/_smallest.scss */
.friend p {
  font-size: 16px;
  line-height: 1.4;
}
/* line 448, ../sass/_smallest.scss */
.friend .button {
  background: white;
  color: #77161b;
  font-size: .85em;
}

/* line 455, ../sass/_smallest.scss */
.archives {
  margin-bottom: 1em;
}
/* line 459, ../sass/_smallest.scss */
.archives li {
  margin-top: 1em;
}
/* line 461, ../sass/_smallest.scss */
.archives li:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 463, ../sass/_smallest.scss */
.archives li:hover {
  border-color: #77161b;
}
/* line 466, ../sass/_smallest.scss */
.archives li:hover h4 {
  color: #77161b;
}
/* line 472, ../sass/_smallest.scss */
.archives h3 {
  margin: 0;
}
/* line 475, ../sass/_smallest.scss */
.archives h4 {
  font-size: 13px;
}
/* line 477, ../sass/_smallest.scss */
.archives h4 span {
  font-size: 16px;
  color: #77161b;
}
/* line 482, ../sass/_smallest.scss */
.archives p {
  font-size: 13px;
}
/* line 485, ../sass/_smallest.scss */
.archives li {
  border-bottom: solid 2px #838080;
}
/* line 487, ../sass/_smallest.scss */
.archives li:last-child {
  border-bottom: 0px;
}

/* line 495, ../sass/_smallest.scss */
.home .social {
  margin-bottom: 1em;
  padding: .5em 0;
  border-top: solid 1px #77161b;
  border-bottom: solid 1px #77161b;
}
/* line 500, ../sass/_smallest.scss */
.home .social p {
  font-size: 12px;
  display: inline;
}
/* line 504, ../sass/_smallest.scss */
.home .social a {
  font-size: 15px;
  color: #838080;
}
/* line 507, ../sass/_smallest.scss */
.home .social a .ico-mail {
  font-size: 21px;
}
/* line 510, ../sass/_smallest.scss */
.home .social a:hover {
  color: #77161b;
}

/* line 518, ../sass/_smallest.scss */
.feature_photo img {
  margin-bottom: 1em;
}

/* FOOTER */
/* line 527, ../sass/_smallest.scss */
.left, .right {
  position: relative;
  height: 100px;
  width: 200px;
  background: #000;
  float: left;
}

/* line 535, ../sass/_smallest.scss */
.left {
  background: red;
}

/* line 539, ../sass/_smallest.scss */
.left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  right: -50px;
}

/* line 554, ../sass/_smallest.scss */
.right {
  margin-left: 40px;
  width: 100px;
}

/* line 559, ../sass/_smallest.scss */
.right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 100px solid black;
  border-left: 50px solid transparent;
  border-right: 0px solid black;
  position: absolute;
  top: -50px;
  left: -50px;
}

/* line 575, ../sass/_smallest.scss */
.ads {
  background: white;
  border-top: solid 10px #77161b;
  z-index: 2;
  position: relative;
  padding-bottom: 0;
}
/* line 582, ../sass/_smallest.scss */
.ads a:hover {
  opacity: .8;
}

/* line 590, ../sass/_smallest.scss */
.map .ico-location:before {
  display: inline-block;
  margin-right: .5em;
  font-size: 1em;
}
/* line 595, ../sass/_smallest.scss */
.map h1 {
  color: #77161b;
  font-weight: 400;
  text-transform: none;
  padding-bottom: .5em;
  border-bottom: 1px solid #77161b;
  margin-bottom: .5em;
  font-size: 3em;
}
/* line 604, ../sass/_smallest.scss */
.map .direction {
  padding: 2em 0;
  color: #505050;
  font-size: 14px;
}
/* line 609, ../sass/_smallest.scss */
.map .button {
  text-transform: none;
  margin-bottom: 1em;
}
/* line 613, ../sass/_smallest.scss */
.map .location {
  margin-bottom: 2em;
  border-bottom: solid 1px #77161b;
}
/* line 616, ../sass/_smallest.scss */
.map .location:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 620, ../sass/_smallest.scss */
.map .location h2 {
  text-transform: none;
  font-size: 1.5em;
  margin-bottom: .5em;
}

/* line 630, ../sass/_smallest.scss */
.donation-form h3 {
  margin-bottom: 10px;
}
/* line 633, ../sass/_smallest.scss */
.donation-form input {
  margin-bottom: 1em;
  display: inline;
}

/* line 639, ../sass/_smallest.scss */
.posts {
  margin: 0;
}
/* line 641, ../sass/_smallest.scss */
.posts li {
  border-bottom: solid 1px #838080;
  padding: 1em 0 1em 1em;
}
/* line 642, ../sass/_smallest.scss */
.posts li, .posts li a {
  font-size: 14px;
}
/* line 647, ../sass/_smallest.scss */
.posts li:last-child {
  border-bottom: 0px;
}

/* line 653, ../sass/_smallest.scss */
.title {
  font-size: 24px;
  text-transform: none;
}

/* line 658, ../sass/_smallest.scss */
.post {
  padding: 1em 0;
  border-bottom: solid 1px #838080;
}
/* line 661, ../sass/_smallest.scss */
.post:last-child {
  border-bottom: 0;
}
/* line 664, ../sass/_smallest.scss */
.post h2 {
  text-transform: none;
  font-size: 18px;
  line-height: 1.4;
}

/* line 671, ../sass/_smallest.scss */
.pageList {
  text-align: center;
  margin: 3em 0 1em;
}
/* line 674, ../sass/_smallest.scss */
.pageList li {
  display: inline;
  margin-right: 5px;
}
/* line 678, ../sass/_smallest.scss */
.pageList li:last-child {
  margin-right: 0;
}
/* line 681, ../sass/_smallest.scss */
.pageList li a {
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px 12px;
  border: solid 1px #77161b;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 689, ../sass/_smallest.scss */
.pageList li a.active, .pageList li a:hover {
  color: white;
  background: #77161b;
}

/* General styles for all menus */
/* line 702, ../sass/_smallest.scss */
.cbp-spmenu {
  background: #424242;
  position: fixed;
}
/* line 706, ../sass/_smallest.scss */
.cbp-spmenu ul li {
  list-style: none;
}

/* line 712, ../sass/_smallest.scss */
.cbp-spmenu h3 {
  color: white;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #611014;
}

/* line 721, ../sass/_smallest.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* line 728, ../sass/_smallest.scss */
.cbp-spmenu a:hover {
  background: #77161b;
}

/* line 733, ../sass/_smallest.scss */
.cbp-spmenu li.active a {
  background: #292827;
}

/* Orientation-dependent styles for the content of the menu */
/* line 742, ../sass/_smallest.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 749, ../sass/_smallest.scss */
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #272727;
  padding: 10px;
}

/* line 754, ../sass/_smallest.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 762, ../sass/_smallest.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 768, ../sass/_smallest.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 777, ../sass/_smallest.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 781, ../sass/_smallest.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 785, ../sass/_smallest.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 789, ../sass/_smallest.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 795, ../sass/_smallest.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 799, ../sass/_smallest.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 803, ../sass/_smallest.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 807, ../sass/_smallest.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 813, ../sass/_smallest.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 819, ../sass/_smallest.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 823, ../sass/_smallest.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 830, ../sass/_smallest.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 840, ../sass/_smallest.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 845, ../sass/_smallest.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 849, ../sass/_smallest.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 857, ../sass/_smallest.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 863, ../sass/_smallest.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 867, ../sass/_smallest.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 871, ../sass/_smallest.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* line 877, ../sass/_smallest.scss */
.mobile-tophat img {
  margin: 0;
}

/* line 885, ../sass/_smallest.scss */
.articles .post img {
  display: none;
}

/* line 891, ../sass/_smallest.scss */
.business-feature {
  height: 200px;
  background-size: 100%;
  background-position: center;
  margin-bottom: 1em;
  background-repeat: no-repeat;
}

/* line 901, ../sass/_smallest.scss */
.galleries img {
  margin: 0;
}
/* line 905, ../sass/_smallest.scss */
.galleries .ad_space img {
  margin: 0 0 1em 0;
}
/* line 910, ../sass/_smallest.scss */
.galleries .gallery li {
  width: 50%;
  height: auto;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 326, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 922, ../sass/_smallest.scss */
.gallery li {
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
  float: left;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 935, ../sass/_smallest.scss */
.gallery li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 938, ../sass/_smallest.scss */
.gallery li:hover .meta {
  bottom: 0;
}
/* line 942, ../sass/_smallest.scss */
.gallery li .meta {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  display: table;
}
/* line 950, ../sass/_smallest.scss */
.gallery li .meta a {
  display: table-cell;
  vertical-align: middle;
}
/* line 953, ../sass/_smallest.scss */
.gallery li .meta a h1, .gallery li .meta a p {
  font-weight: 100;
}
/* line 956, ../sass/_smallest.scss */
.gallery li .meta a h1 {
  font-size: 21px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 977, ../sass/_smallest.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 985, ../sass/_smallest.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 992, ../sass/_smallest.scss */
.fancybox-skin {
  padding: 0 !important;
  position: relative;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 1002, ../sass/_smallest.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 1006, ../sass/_smallest.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 1012, ../sass/_smallest.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 1016, ../sass/_smallest.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 1020, ../sass/_smallest.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 1024, ../sass/_smallest.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 1032, ../sass/_smallest.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 1038, ../sass/_smallest.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 1043, ../sass/_smallest.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/resources/img/fancybox_sprite.png");
}

/* line 1047, ../sass/_smallest.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 1059, ../sass/_smallest.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/resources/img/loading.gif") center center no-repeat;
}

/* line 1065, ../sass/_smallest.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 1075, ../sass/_smallest.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 1087, ../sass/_smallest.scss */
.fancybox-prev {
  left: 0;
}

/* line 1091, ../sass/_smallest.scss */
.fancybox-next {
  right: 0;
}

/* line 1095, ../sass/_smallest.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

/* line 1105, ../sass/_smallest.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 1110, ../sass/_smallest.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 1115, ../sass/_smallest.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 1119, ../sass/_smallest.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 1131, ../sass/_smallest.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 1136, ../sass/_smallest.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 1140, ../sass/_smallest.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 1144, ../sass/_smallest.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(255, 255, 255, 0.8);
}

/* line 1154, ../sass/_smallest.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 1160, ../sass/_smallest.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 1167, ../sass/_smallest.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 1175, ../sass/_smallest.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 1179, ../sass/_smallest.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 1188, ../sass/_smallest.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 1204, ../sass/_smallest.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 1210, ../sass/_smallest.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 1214, ../sass/_smallest.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 1229, ../sass/_smallest.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 1234, ../sass/_smallest.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 1242, ../sass/_smallest.scss */
.learningCenter .learning-center ul {
  list-style: disc outside none;
  padding-left: 20px;
}

/* line 1250, ../sass/_smallest.scss */
.content .span9 ul {
  list-style-type: disc;
  padding-left: 30px;
}
/* line 1253, ../sass/_smallest.scss */
.content .span9 ul li {
  list-style-type: disc;
}

/* line 1262, ../sass/_smallest.scss */
.banquet .content {
  padding: 2em;
}
/* line 1265, ../sass/_smallest.scss */
.banquet .logo {
  left: 2em;
  position: relative;
  z-index: 1001;
}
/* line 1270, ../sass/_smallest.scss */
.banquet .logo {
  width: 270px;
}
/* line 1274, ../sass/_smallest.scss */
.banquet .hero {
  padding: 8em 0;
}
/* line 1276, ../sass/_smallest.scss */
.banquet .hero p {
  text-align: center;
  color: white;
}
/* line 1281, ../sass/_smallest.scss */
.banquet .donation-form input, .banquet .donation-form textarea {
  padding: 0 0 0 20px;
  height: 35px;
}
/* line 1286, ../sass/_smallest.scss */
.banquet .donation-form input[type="submit"] {
  height: auto;
  padding: 20px;
}
/* line 1292, ../sass/_smallest.scss */
.banquet .donation-form select {
  margin-bottom: 2em;
}

/* line 1299, ../sass/_smallest.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/* line 1299, ../sass/_smallest.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1301, ../sass/_smallest.scss */
.participants {
  margin: 0;
}
/* line 1304, ../sass/_smallest.scss */
.participants li img {
  margin-bottom: 5px;
}
/* line 1307, ../sass/_smallest.scss */
.participants li p {
  font-size: 12px;
}

/* line 1315, ../sass/_smallest.scss */
.bars > div {
  margin-bottom: 15px;
}
/* line 1318, ../sass/_smallest.scss */
.bars p {
  margin-bottom: 0;
  font-weight: 100;
  font-style: italic;
  font-size: 12px;
}
/* line 1324, ../sass/_smallest.scss */
.bars .pieBar {
  padding: 1em;
  color: white;
}
/* line 1328, ../sass/_smallest.scss */
.bars .one {
  background-color: #55bbc6;
}
/* line 1332, ../sass/_smallest.scss */
.bars .two {
  background-color: #105b63;
}
/* line 1336, ../sass/_smallest.scss */
.bars .three {
  background-color: #fffad5;
  color: #105b63;
}
/* line 1341, ../sass/_smallest.scss */
.bars .four {
  background-color: #ffd34e;
  color: #105b63;
}
/* line 1345, ../sass/_smallest.scss */
.bars .five {
  background-color: #db9e36;
}
/* line 1349, ../sass/_smallest.scss */
.bars .six {
  background-color: #bd4932;
}
/* line 1353, ../sass/_smallest.scss */
.bars .seven {
  background-color: #6a1e0f;
}

/* line 1360, ../sass/_smallest.scss */
form.voting label {
  float: left;
  margin-right: 1em;
  font-weight: 800;
}
/* line 1365, ../sass/_smallest.scss */
form.voting .row-fluid {
  margin-bottom: 1em;
}

/* line 1374, ../sass/_smallest.scss */
#poll .instructions p {
  font-style: italic;
  margin-bottom: 2em;
}
/* line 1378, ../sass/_smallest.scss */
#poll .instructions h2 {
  margin-bottom: 0;
}

/* line 1384, ../sass/_smallest.scss */
.fade-in {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  /* line 1620, ../sass/_smallest.scss */
  /* line 1395, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1621, ../sass/_smallest.scss */
  /* line 1400, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 1625, ../sass/_smallest.scss */
  /* line 1407, ../sass/_smallest.scss */
  0% {
    opacity: 0;
  }

  /* line 1626, ../sass/_smallest.scss */
  /* line 1412, ../sass/_smallest.scss */
  100% {
    opacity: 1;
  }
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em;
  margin: 0;
}

/* line 9, ../sass/_480.scss */
.news .news-left {
  width: 22%;
  float: left;
  display: inline-block;
}
/* line 14, ../sass/_480.scss */
.news .news-right {
  float: left;
  width: 75%;
  margin-left: 3%;
}
/* line 18, ../sass/_480.scss */
.news .news-right.full-width {
  margin-left: 0;
  width: 100%;
}

/* line 26, ../sass/_480.scss */
.gallery li {
  width: 48.5%;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 3%;
  margin-right: 3%;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 3em 2em;
}

/* line 7, ../sass/_768.scss */
.store .span4 {
  width: 31.623931623931625%;
}

/* line 12, ../sass/_768.scss */
.news, .hit_this {
  text-align: left;
}

/* line 17, ../sass/_768.scss */
.home .hero {
  padding: 8em 0em;
}
/* line 19, ../sass/_768.scss */
.home .hero h1 {
  font-size: 35px;
}
/* line 22, ../sass/_768.scss */
.home .hero .button {
  border: solid 4px white;
}

/* line 30, ../sass/_768.scss */
#mapCanvas {
  height: 600px;
}

/* line 35, ../sass/_768.scss */
.footer {
  background: #79191e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e6e6e6), color-stop(40%, #e6e6e6), color-stop(40%, #77161b), color-stop(100%, #77161b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #e6e6e6 0%, #e6e6e6 40%, #77161b 40%, #77161b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#77161b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 48, ../sass/_768.scss */
.footer {
  text-align: left;
}
/* line 52, ../sass/_768.scss */
.footer .span4 p {
  color: #403f3f;
  font-size: 12px;
}
/* line 57, ../sass/_768.scss */
.footer ul {
  float: right;
  margin: 0;
}
/* line 60, ../sass/_768.scss */
.footer ul li {
  float: left;
  text-align: center;
}
/* line 64, ../sass/_768.scss */
.footer ul li:last-child a:after {
  content: none;
  padding-left: 0;
}
/* line 69, ../sass/_768.scss */
.footer ul li a {
  padding: 1em 1em 1em 0;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
/* line 76, ../sass/_768.scss */
.footer ul li a:hover {
  color: #838080;
}
/* line 81, ../sass/_768.scss */
.footer ul li a:after {
  content: "/";
  padding-left: 1em;
}

/* line 93, ../sass/_768.scss */
.btn, a:visited.btn, .button, button {
  margin-bottom: 0em;
  text-align: left;
}

/* line 100, ../sass/_768.scss */
.map h1 {
  font-size: 6em;
}
/* line 103, ../sass/_768.scss */
.map .button {
  margin-right: 1em;
}
/* line 105, ../sass/_768.scss */
.map .button:last-child {
  margin-right: 0;
}

/* line 113, ../sass/_768.scss */
.gallery li {
  height: 400px;
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 119, ../sass/_768.scss */
.gallery li .meta a h1 {
  font-size: 2em;
}

/* line 130, ../sass/_768.scss */
.galleries .gallery li {
  width: 25%;
}
/* line 326, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 133, ../sass/_768.scss */
.galleries .gallery li img {
  width: 100% !important;
}

/* line 1, ../sass/_940.scss */
section {
  padding: 3em 0;
}

/* line 7, ../sass/_940.scss */
.galleries .gallery li {
  width: 16.66667%;
}
/* line 326, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.galleries .gallery li:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 10, ../sass/_940.scss */
.galleries .gallery li img {
  width: 100% !important;
}
