[[$doc_head]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        <section class="row-fluid content wrap">
           
            <div class="span12">
                <div class="row-fluid">
               
                    [[*content]]
                    [[$ad_request]]
                </div>
            </div>
          </section>


        [[$footer]]
    
[[$doc_footer]]
