  [[$doc_head]]
  <body class="map-header cbp-spmenu-push">
    [[$navigation]]

    <div id="map-canvas"/></div>
    <div class="shadow">
    <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                [[$sidebar_ads-inside]]
            </div>
            <div class="span9">
                <div class="row-fluid">
                 <h1 class="pagetitle">[[*pagetitle]]</h1>
                 <div class="button-row">
                   <a target="_blank" href="[[*googlemap]]" class="button">Get Directions</a><a href="tel:[[*tel]]" class="button"><span class="ico-phone"></span>[[*tel]]</a>[[*website:notempty=`<a target="_blank" href="[[*website]]" class="button">Visit Website</a>`]]
                 </div>
                    [[*content]]
                
                </div>
            </div>
            <div class="span3 ad_space visible-phone">
              [[$sidebar_ads-inside]]
            </div>
        </section>
      </div>

        [[$footer]]
    
[[$doc_footer]]