[[$doc_head-articles]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>
        <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                <h3>Trail Sponsors</h3>
                [[BannerY? &position=`1` &sortby=`RAND()` &limit=`3` &tpl=`banner`]]
                <hr>
                  <h3>Latest Posts</h3>
                  <ul class="posts">
                  [[+latest_posts]]
                  </ul>
              </div>
            <div class="span8">
                <div class="row-fluid">
    <h2 class="title"><a href="[[~[[*id]]]]">[[*pagetitle]]</a></h2>
    <p class="post-info">
        <span class="">Posted on [[*publishedon:strtotime:date=`%b %d, %Y`]]<!--  by <a href="[[~[[*parent]]]]author/[[*publishedby:userinfo=`username`]]">[[*publishedby:userinfo=`username`]]</a> --></span>
[[*articlestags:notempty=`
        <span class="tags">&nbsp;| Tags: [[+article_tags]]</span>
`]]
        [[+comments_enabled:is=`1`:then=`&nbsp;| <a href="[[~[[*id]]]]#comments" class="comments">Comments ([[+comments_count]])</a>`]]
    </p>
    <div class="entry">
        <hr />
        [[*content]]
    </div>

    <hr />

    <div class="post-comments" id="comments">
        [[+comments]]
        <br />
        <h3>Add a Comment</h3>
        [[+comments_form]]
    </div>
</div>

<div id="left-columns" class="grid_4">
  <div class="grid_4 alpha">

    <div class="sidemenu">
      
    </div>

  <!-- end left-columns -->
</div>
<!-- contents end here -->


</div></div>

</section>


        [[$footer]]
    
[[$doc_footer]]