[[$doc_head-articles]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>
        <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                [[$sidebar_ads-inside]]
            </div>
            <div class="span9 articles">
                <div class="row-fluid">
                    [[*content]]
                </div>
            </div>
        </section>


        [[$footer]]
    
[[$doc_footer]]