[[$doc_head]]
    <body class="interior cbp-spmenu-push galleries">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                [[$sidebar_ads-inside]]
            </div>
            <div class="span9">
                <div class="row-fluid">
               
                    [[*content]]
                    <div class="gallery row-fluid">
                        <ul class="slides row-fluid">
                            [[Gallery? 
                                &album=`gallery`
                                &thumbTpl=`gallery_item`
                                &thumbHeight=`400`
                                &thumbWidth=`400`
                                &thumbFar=`BL`
                            ]]
                        </ul>
                    </div>
                
                </div>
            </div>
            <div class="span3 ad_space visible-phone">
                [[$sidebar_ads-inside]]
            </div>
        </section>


        [[$footer]]
    
[[$doc_footer]]
