[[$doc_head]]
    <body class="home cbp-spmenu-push">

        [[$navigation]]
        
        [[getResources?
          &parents=`1`
          &tpl=`promotion`
          &showHidden=`1`
          &limit=`1`
          &includeContent=`1`
          &includeTVs=`1` 
          &processTVs=`1` 
          &tvPrefix=``
          &depth=`1`
          &resources=`-239`
        ]]

        <div class="map_contain">
        <div class="tab">
                <a><span  class="ico-map"></span>Trail Map</a>
        </div>  
        <section class="trailmap">
            
            <div class="wrap row-fluid">
                    
            <a href="/interactive-map">
                <h2>on the trail?</h2>
                    <P>Click here to view our interactive trail map. Find local shopping and popular rest
                    stop along the Raccoon River Valley Trail</P>
                
            </a>
            </div>
        </section>
    </div>
    <section class="ads">
      <div class="row-fluid alerts wrap">
                [[*alert-warning:notempty=`<div class="alert alert-error">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <h2>TRAIL STATUS ALERT</h2>
                 [[*alert-warning]]
                </div>`]]
                [[*alert-information:notempty=`<div class="alert alert-info">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <h2>INFORMATION ALERT</h2>
                 [[*alert-information]]
                </div>`]]
                [[*alert-news:notempty=`<div class="alert alert-success">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <h2>NEWS ALERT</h2>
                 [[*alert-news]]
                </div>`]]
              </div>
        <div class="row-fluid wrap hidden-phone">
            <a href="">
                [[!BannerY? &position=`2` &sortby=`RAND()` &limit=`1` &tpl=`banner`]]
            </a>
        </div>
    </section>
        <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                [[$sidebar_ads]]
            </div>
            <div class="span9">
              
                <div class="row-fluid news ">
                    <h2>News on the Trail</h2>
                    [[getResources?
                      &parents=`4`
                      &tpl=`home_feature`
                      &showHidden=`1`
                      &limit=`1`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                    ]]
                    
                </div>
                <hr>
                <div class="row-fluid">
                    <div class="span6 hit_this">
                        <h2>hit this <span class="ico-location"></span></h2>
                        <p>Popular stops along the trail you shouldn’t pass.</p>
                        <hr>
                        <h3><span>Perry</span>  - Hotell Pattee</h3>
                        <p>Lodging | Restaurant</p><!-- 
                        <p class="info">M-F 8am - 6pm | Sat & Sun 10am -4pm</p> -->
                        <img src="Images/locations/exterior2.jpg" alt="">
                        <a href="http://www.google.com/maps/place/Hotel+Pattee/@41.838824,-94.105888,17z/data=!3m1!4b1!4m2!3m1!1s0x87ec4ad728ed4fc1:0x3b24ec2171abb504" target="_new" class="button">Find this spot on the trail</a>
                    </div>
                    <!--  [[!getResources?
                      &parents=`27`
                      &tpl=`hit-this`
                      &showHidden=`1`
                      &limit=`1`
                      &includeContent=`1`
                      &depth=`2`
                      &tvFilter=`featured==yes`
                      &sortby=`RAND()`
                    ]] -->
                    <div class="span6 friend">
                            <h2>See our whole 89-mile trail<br>in 8 minutes & 50 seconds!</h2>
                            <p>Follow Team Bat as they ride the full length of the Raccoon River Valley Trail and visit all 14 communities</p>
                            <a href="/blog/2015/05/26/see-our-whole-89-mile-trail-in-8-minutes-and-50-seconds!/" class="button">Watch the video</a>
                    </div>  
                </div>
            </div>
        </section>
        <hr class="wrap">
        <section class="row-fluid wrap">
            <div class="span7 archives">
                <h3>past RRVT News</h3>
                <ul>
                   [[getResources?
                      &parents=`4`
                      &tpl=`home_articles`
                      &showHidden=`1`
                      &limit=`7`
                      &includeContent=`1`
                    ]]
                </ul>
                <a href="[[~4]]" class="button">view all articles</a>
            </div>
            <hr class="wrap visible-phone">
            <div class="span5 feature_photo">
                <h3>seen on the trail</h3>
                [[clearGalleryCache]]
                [[!Gallery? 
                    &album=`gallery`
                    &thumbTpl=`home_feature_photo`
                    &thumbHeight=`400`
                    &thumbWidth=`400`
                    &thumbFar=`C`
                    &limit=`1`
                    &sort=`rand`
                ]]

               <!--  [[!getResources?
                      &parents=`239`
                      &tpl=`home_feature_photo`
                      &showHidden=`1`
                      &limit=`1`
                      &sortby=`RAND()`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                ]] -->
                <p>To submit your photos of the Raccoon River Valley trail <a href="mailto:[[++primary_email]]?subject=RRVT Feature Photo">click here</a>.</p>
            </div>
        </section>

      [[$footer]]

    
[[$doc_footer]]
