[[$doc_head]]
    <body class="interior cbp-spmenu-push learningCenter">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        [[$learningCenter]]


        [[$footer]]
        
    
[[$doc_footer]]
