[[$doc_head]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        <section class="row-fluid content wrap">
            [[$sidebar_ads]]
            <div class="span9">
                <div class="row-fluid">
               
                    [[*content]]
                    <form action="https://rrvt.foxycart.com/cart" method="post" accept-charset="utf-8">
                        <h2>[[*pagetitle]]</h2>
                        <p>[[*description]]</p>

                        <input  name="price" value="[[*donation_amount]]" />
                        <input type="submit" name="Add to Cart" value="Add to Cart" class="button" />
                    </form>
                
                </div>
            </div>
            <div class="span3 ad_space visible-phone">
                <h3>Trail Sponsors</h3>
                <a href="/locations/hotel-pattee"><img src="/resources/img/placeholder.png" alt=""></a>
                <a href="/locations/hotel-pattee"><img src="/Images/side-barAd2.png" alt=""></a>
                <a href="/locations/hotel-pattee"><img src="/Images/side-barAd3.png" alt=""></a>
            </div>
        </section>


        [[$footer]]
    
[[$doc_footer]]
