[[$doc_head_trailhead]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        <section class="row-fluid content wrap">
           
            <div class="span12 map">
                <div class="row-fluid">
               <p class="direction ico-location">Click on a trail location to see the local shops and restraunts you can find along the trail</p>
               [[*content]]
               <br>
                    <div id="mapCanvas">
                    </div>
                    
                    <div id="locationInfo">
                        
                    </div>
                    <hr>
                    <div id="locationInfoOther">
                        
                    </div>
            </div>
          </section>


        [[$footer]]
    
[[$doc_footer]]
