[[$doc_head]]
    <body class="interior cbp-spmenu-push">

        [[$navigation]]

      <section class="hero" style="background-image:url('/resources/img/hero.jpg')">
            <div class="wrap row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
            </div>
        </section>

        <section class="row-fluid content wrap">
            <div class="span3 ad_space hidden-phone">
                <ul class="participants">

                    <li><img src="resources/img/pie-contest/3.jpg" alt="">
                    <p>Patrick’s Restaurant, in Adel</p>
                    </li>

                    <li><img src="resources/img/pie-contest/6.jpg" alt="">
                        <p>Uptown Café, in Jefferson</p>
                    </li>

                    <li><img src="resources/img/pie-contest/2.jpg" alt="">
                        <p>Crossings Bistro &amp; Brew, in Minburn</p>
                    </li>

                    <li><img src="resources/img/pie-contest/7.jpg" alt="">
                        <p>PJ’s Drive-In, in Panora</p>
                    </li>

                    <li><img src="resources/img/pie-contest/4.jpg" alt="">
                        <p>David’s Milwaukee Diner, Hotel Pattee, in Perry</p>
                    </li>
                    
                    <li><img src="resources/img/pie-contest/5.jpg" alt="">
                        <p>Dexfield Diner, in Redfield</p>
                    </li>
                    <li><img src="resources/img/pie-contest/1.jpg" alt="">
                        <p>Bell Street Market, in Yale</p>
                    </li>
                </ul>
            </div>
            <div class="span9">
                <div class="row-fluid">
               
                    [[*content]]
                
                </div>
            </div>
            <div class="span3 ad_space visible-phone">
                [[$sidebar_ads-inside]]
            </div>
        </section>


        [[$footer]]
    
[[$doc_footer]]
